[2017-03-08 17:06] robdodson opened #2 "OK to use matches()?"
I noticed a few lines that use `matches()`
https://github.com/WICG/focus-ring/blob/gh-pages/src/focus-ring.js#L47

But elsewhere the code tries to determine if matches is available:
https://github.com/WICG/focus-ring/blob/gh-pages/src/focus-ring.js#L13

Would it make sense to just use the MDN matches polyfill and patch the `Element.prototype`?
https://developer.mozilla.org/en-US/docs/Web/API/Eleme

[2017-03-08 20:45] robdodson opened #3 "How do we handle .focus()?"
I don't think we currently have a way to handle calling `.focus()` on an element that should self apply `focus-ring`

[2017-03-08 20:45] robdodson commented on #3
cc @marcysutton

[2017-03-13 22:03] marcysutton commented on #3
The issue I ran into was for programmatic focus with the older CSS Input Modality API–luckily my issue seems to be addressed with your current prototype. The combination of `:focus:not(.focus-ring)` and `:focus-ring` as selectors means focus isn't negated for programmatic input matchers like `body:not([modality=keyboard]) :focus`.

Here's a demo where you can see keyboard & programmatic focus styl

[2017-03-13 22:27] alice commented on #3
Glad this seems to be working with the updated polyfill!

[2017-03-13 22:44] robdodson commented on #3
OK to close this then?

[2017-03-13 23:42] marcysutton commented on #3
Seems logical to me, if additional issues come in they could be addressed separately.

[2017-03-13 23:47] #3 closed

[2017-03-24 18:57] wjdp opened #5 "Discrepancy between master and gh-pages branch"
This repo has two branches, master and gh-pages. I'm assuming gh-pages is the correct one to use as this is the 'default' in the GH interface.

Hit an issue with this setup when sticking the bare repo URL into bower. This clones the master rather than the gh-pages branch.. and the master branch seems to have issues, notably the naming of `isHandlingKeyboardThrottle` / `keyboardThrottleTimeoutID`.

[2017-03-24 19:18] joe-watkins opened #6 "Progressive Enhancement recommendation"
Hello :) Great work on this!

I'm wondering if you'd be interested in including another example in the demo/docs that demonstrated a progressive enhancement approach where we 'detect' JS and if it is 'present' we kill outlines.

If JS fails or there is an error, no elements will have focus rings.

I've [created an example of this](https://github.com/joe-watkins/focus-ring/commit/b434cd4cae39dfd9b9

[2017-03-24 22:29] WW3 opened #7 "white list"
should [contenteditable], video[controls], audio[controls] also be white listed?

[2017-03-24 23:44] joe-watkins opened #8 "Global :focus { outline: none; } reset declaration and Polyfill concerns"
Hi :)

Per the documentation, I'm really struggling with the blanket `:focus { outline: none; }` code recommendation. I want to be on board with this awesome feature but feel like we could come up with something better.

It is very bold to say hey.. attention all browsers - kill all outlines on focusable elements and then rely on JS to fill the gaps or when implemented only supporting browsers wil

[2017-03-25 00:07] JanMiksovsky opened #9 "When window regains focus, focus-ring class should reapplied to the focused element"
To repro:
1. Use the keyboard to focus a button and apply `.focus-ring` to it.
2. Switch a different tab/window.
3. Return to the original tab/window.

Expect: Since the originally button still has focus, and the focus was obtained via the keyboard, the focus ring should be reapplied to it. This is what happens when focus-ring.js isn't used.

Actual: The focus ring is lost.

As a general rule, an

[2017-03-25 00:42] joe-watkins commented on #6
.. or maybe even consider having JavaScript add a class `focus-ring-polyfill` that you can descend from:

`.focus-ring-polyfill :focus:not(.focus-ring) { outline: none; }`

With something like that JavaScript could fail or have an error and default focus states would be intact. See #8

[2017-03-25 19:33] toolness commented on #2
That seems like a good idea--right now the polyfill raises `Object doesn't support property or method 'matches'` errors on Edge 38.14393.0.0.

Alternatively, you could test for the presence of the API and not load the polyfill if `.matches` doesn't exist?

[2017-03-28 00:15] robdodson commented on #5
I synced up master to gh-pages and rolled out a v1.0.0 tag.

[2017-03-28 00:15] #5 closed

[2017-03-29 01:59] robdodson commented on #8
Thanks for the issues and pull requests. Myself and Alice have been traveling and out sick so we're catching up on things. Didn't want you to think that lack of a response meant we were ignoring you!

[2017-03-29 02:17] robdodson opened #12 "Create a test page for different browser behaviors"
Adding a todo for myself.

It would be useful to have a page with as many focusable elements as we can get on it so we can easily look at the expected focus ring behavior in different browsers. Some users mentioned that removing the focus ring when a user clicks a button on windows would actually change the expected behavior (apparently windows leaves the ring in place for mouse clicks?)

Could ma

[2017-03-29 02:50] robdodson commented on #2
The matches polyfill linked on MDN is really small so I think even if it's not supported we could recover by adding that in. @alice would you be ok with me doing a PR for this?

[2017-03-29 03:38] alice commented on #2
We just need to merge the master branch to gh-pages.

[2017-03-29 08:52] erikkroes opened #14 "No focus styling on certain elements with Firefox"
When going through the demo at https://wicg.github.io/focus-ring/demo/ with the tab-key, the focus styling is not visible on the element with `role="textbox"`, the `<div>`'s with `tabindex=0`, and the `<select>`'s with a set `size`.

[2017-03-29 08:57] erikkroes opened #15 "No focus styling when navigating with keyboard from outside the web content"
Tested on https://wicg.github.io/focus-ring/demo/

Using safari: when the address bar has the focus, pressing tab moves focus to the first input field but it does not receive focus styling. Pressing alt+tab moves focus to the last input field but it does not receive focus styling.

Using chrome: when the address bar has the focus, pressing alt+tab moves focus to the last input field but it does no

[2017-03-29 14:36] robdodson commented on #14
Are you on mac or windows?

I put together a jsbin to test https://jsbin.com/vefalubezi/edit?html,output

On mac it looks like they use a couple different focus styles.

![image](https://cloud.githubusercontent.com/assets/1066253/24460039/e961a336-1451-11e7-997b-5eb1310524ce.png)

![image](https://cloud.githubusercontent.com/assets/1066253/24460046/f10d7092-1451-11e7-9679-35ee181a34a1.png)

![imag

[2017-03-29 15:27] robdodson commented on #15
hm that's interesting. In the Safari example, since it's just input[type=text] I would imagine this line https://github.com/WICG/focus-ring/blob/gh-pages/src/focus-ring.js#L103 would kick in to apply the focus-ring class since the target should be in the whitelist. Will take a look later today. Thanks for the ticket!

[2017-03-30 20:45] robdodson commented on #7
I believe items in whitelist are ones that should always display a focus ring.

[contenteditable] seems to, when I try it in Chrome, Firefox, and Safari.

audio and video controls don't seem to in Chrome or Safari but they do in Firefox.

My hunch is we wouldn't want to add those two because they work very similar to `<button>`. @alice wdyt?

[2017-03-31 17:12] robdodson commented on #6
Adding a class to the body works, but I'm concerned about causing really large style recalcs on older browsers.

https://developers.google.com/web/fundamentals/performance/rendering/reduce-the-scope-and-complexity-of-style-calculations#reduce_the_number_of_elements_being_styled

I did a test in Chrome and things are fine, we only recalc 1 element if it's a mouse click, or 2 elements if we're tabbi

[2017-03-31 17:14] robdodson commented on #6
Another option is the polyfill could inject the styles itself. That way it only does it if JS is working. I'm not in love with the idea of something injecting CSS because I prefer having total control over that, but it might be a decent compromise in this case. Or we could even make it configurable.

[2017-03-31 20:20] patrickhlauke commented on #15
My guess would be that the keyboard event is "swallowed"/consumed by the actual browser UI, so does not trigger the `onKeyDown` and therefore does not set the `hadKeyboardEvent`. don't think there's any way to catch this until the user actually does a keystroke once in the actual web content

[2017-03-31 20:38] patrickhlauke commented on #15
actually, in the case of Chrome and reverse-tabbing to the last element in the page - as it's an `<input type="file">` - this does apply. the keyboard event happened in the UI, so `hadKeyboardEvent` is `false` at that point, and a `file` type of input is not in the whitelist ... so that's why when SHIFT+TABbing from address bar to that file chooser the focus is not applied.

[2017-04-06 04:21] kloots opened #19 "Why capture mode for the keydown event listener?"
Just curious why capture mode is used when binding the `keydown` event listener? (e.g. `document.body.addEventListener('keydown', onKeyDown, true);`). Makes sense for the `focus` and `blur` events as those do not bubble, but `keydown` does.

[2017-04-06 11:11] robdodson commented on #9
thanks for the issue. I _think_ we may be able to fix this using the [`visibilitychange` event](https://developer.mozilla.org/en-US/docs/Web/Events/visibilitychange). I'll give it a shot on my flight today

[2017-04-06 11:13] robdodson commented on #14
Going to close this issue but happy to reopen if there's a follow up response.

[2017-04-06 11:13] #14 closed

[2017-04-10 03:37] robdodson commented on #2
Fixed by #27

[2017-04-10 03:37] #2 closed

[2017-04-10 03:42] alice commented on #19
I don't remember - I guess so that other listeners don't consume the event?

[2017-04-10 13:57] erikkroes commented on #14
Sorry for the late reply. I'm seeing the same result. So that's just a situation for which focus-ring is not a solution? A shame, but good to know. Thanks!

[2017-04-10 15:44] robdodson commented on #14
Well in that situation you DO want to see an outline, because you're navigating by keyboard, so this is working as intended I think.

[2017-04-10 19:46] kloots commented on #19
@alice I suppose that make sense. Otherwise if we were relying on bubbling any other keydown listener that called `stopPropagation()` would end up breaking this polyfill.

[2017-04-11 03:26] alice commented on #19
@kloots Yep, exactly.

[2017-04-11 18:19] #19 closed

[2017-04-11 21:57] robdodson commented on #9
still working on this. It's a bit tricky as it seems that `blur` gets called before `visibilitychange` but the activeElement is the same (except now it doesn't have a class because it was removed during `blur`). That makes it hard to determine if the element should get the focus ring or not when the page is restored.

Anyway, still working on it, didn't want you to think we'd forgot :)

[2017-04-11 22:56] JanMiksovsky commented on #9
Great, thanks for the update!

FYI, for the time being we're trying this behavior as a [mixin](https://github.com/elix/elix/blob/master/mixins/FocusRingMixin.js). The [documentation](https://elix.org/documentation/FocusRingMixin) page shows a live example of some buttons that use the mixin. A somewhat more realistic example can be see on the toolbar tabs demo for our [Tabs](https://elix.org/docume

[2017-04-19 07:25] emilbillberg opened #28 "Shadow DOM"
#### Description
The Focus-ring Polyfill has some issues when used with shadow DOM. The Polyfill is not able to add the focus-ring class to focusable elements within the shadow DOM such as a buttons. This is due to the shadow DOM event model. Events bubble up from shadow DOM but the events are re-targeted. This means that the events look like they come from the host instead of its internal events

[2017-04-25 06:22] emilbillberg commented on #28
Checkout this demo project to workaround this issue. It is still work in progress and could be improved (e.g. remove global click event listener if possible), but it demonstrates a way of finding the active element with or without shadow DOM.
[https://github.com/emilbillberg/focus-ring](https://github.com/emilbillberg/focus-ring)

[2017-05-23 15:51] bradkemper commented on #9
I think the blur event happens on the window before it happens on the element. So, you could detect when the window is  blurred, and whenever it is, save that in a variable and don't remove the `.focus-ring` from the element when it blurs. Then when the window is in front again, the element will be focused again automatically, and will still have `.focus-ring` class on it.

[2017-05-23 16:02] bradkemper opened #29 "On Mac, button clicks don't actually steal focus"
Browsers act a little different than OS controls in other contexts, such as in system dialogs. With Full Keyboard Access, you can tab to any control and it will show the focus ring. But if you have clicked in a text field and then click on a radio button, for instance, it is not just that the radio button doesn't get the focus ring: It doesn't get the focus either. You can still type in the field.

[2017-05-23 16:28] bradkemper commented on #7
I think the general idea behind showing focus rings on text fields is that you can see where your typing is going to go if you start typing some words. You can then expect to see your words show up within that rectangle. So I would say [contenteditable] should be on the white list, but video controls should not be.

[2017-05-27 10:49] millette commented on #12
https://wicg.github.io/focus-ring/demo/ was mentionned in #15.

[2017-05-31 22:40] kloots opened #31 "focus-ring class is applied if user focuses an element via the mouse"
If you open up [the demo](https://wicg.github.io/focus-ring/demo/), you'll see the `focus-ring` class is being applied if the user focuses an element using the mouse.

[2017-05-31 22:42] kloots commented on #31
Oh, duh, I didn't realize it text input are supposed to have the focus-ring classes applied.

[2017-05-31 22:42] #31 closed

[2017-05-31 23:02] kloots commented on #15
I cannot reproduce this bug in Safari as reported. I'm testing in Safari Version 10.1 (12603.1.30.0.34) on Mac OS 10.12.4 (16E195).

[2017-05-31 23:06] kloots commented on #15
Update: I _was_ able to reproduce this providing the first element in the page is **not** a text input. Easily reproducible in both Safari and Chrome if you change [the demo](https://wicg.github.io/focus-ring/demo/) such that a `<button>` is the first focusable element in the page.

[2017-06-01 05:01] kloots commented on #15
Some additional findings: this bug is exclusive to Safari and Chrome; IE and Firefox don't have this issue. The reason: neither Chrome or Safari fire a `keydown` event in advance of focus moving from the browser's location bar into the document. As a result, there's no means of determining if the initial`focus` event was preceded by a `keydown` event.

One solution I tried was to changeup the logi

[2017-06-01 16:24] kloots commented on #29
@bradkemper so, you're advocating for something like `onmousedown` on a `<button>` we would set focus back to the previously focused element? If so, I'm not entirely clear what user problem that would be solving. I also think what you're asking for is outside the scope of what this library is aiming to solve and a bit against the grain; we're not seeking to normalize how browsers manage focus, rat

[2017-06-01 19:14] bradkemper commented on #29
It is less about normalization between platforms, and more about fixing non-standard behavior within browsers of a single platform. Inasmuch as this library tries to get the browser focus rendering to look more like what focusing does in other desktop apps, I thought it would be nice to also more fully emulate the focusing behavior of other desktop apps too. Personally, I think the Mac behavior wo

[2017-06-02 01:29] alice opened #33 "When to match :focus-ring:?"
Currently we model the behaviour of `<button>`, which (in Chrome) shows a focus ring when it receives focus after a keyboard event, or when a key is pressed while it is focused.

Another option would be to show a focus ring *only* when focus is *received* from a keyboard event. This would be a break from existing behaviour, but may be input into browsers' eventual decision of what behaviour to mod

[2017-06-02 01:51] alice commented on #15
Yeah, our earliest explorations had pointer modality being the "exception" like this, but we ran into that exact issue with programmatic focus.

I think filing a bug on Chrome makes sense. If you drop a link here I can chase it up, or I can file it.

[2017-06-02 02:19] kloots commented on #15
@alice I'll file it then. I'll also need to file the same bug for Safari. Any idea where I'd go to do that? And should I loop James Craig in (or someone else)?

[2017-06-02 03:13] alice commented on #15
https://bugs.webkit.org/enter_bug.cgi would probably be the place to go for Safari/WebKit.

[2017-06-02 03:15] kloots commented on #33
@alice as I am currently working on putting this polyfill to work in the Slack codebase my feedback is: not _every_ focus event following a keydown event should result in a focus ring being drawn. As such, the behavior as currently implemented results in the focus ring showing up unexpectedly/or at times when it is not desired.

An example from Slack: a user presses a keyboard shortcut (`Cmd` + `.

[2017-06-02 03:25] alice commented on #33
As a counter-argument, if both keyboard shortcuts and pointer-based options are available to access a piece of UI, I think using the keyboard shortcut _would_ be a good signal that the user is intending to continue using the keyboard to interact with that UI. In fact, predominantly keyboard users are almost certainly more likely to use keyboard shortcuts which result in moving focus, aren't they?

[2017-06-02 03:32] kloots commented on #33
I can tell you with certainty from using this library with Slack that assumption is not correct. :) In fact, I wouldn't have raised this issue if it was correct. :) At this point I'm dealing with way more "why am I seeing this focus ring" bug reports than "I was expecting to see a focus ring and didn't" reports.

[2017-06-02 04:00] alice commented on #33
I don't think it follows that because you are getting more bug reports about unexpected focus rings, predominantly keyboard users are not more likely to be using keyboard shortcuts.

If we focus *only* on the predominantly keyboard users for a moment, I would imagine that they would be heavier users of keyboard shortcuts which move focus than users who rely less heavily on the keyboard. And if we

[2017-06-02 20:10] kloots commented on #15
@alice I've just tested this behavior even more extensively to include Firefox for Mac and Chrome on Windows and *ugh* more inconsistencies:

- Firefox on Mac exhibits the same aforementioned "bug" in Safari and Chrome: no keydown event is fired when navigating from the location bar into the document via the Tab key. This leads me to believe this behavior is rooted in the windowing environment on

[2017-06-02 21:39] patrickhlauke commented on #15
conceptually, i'm tending more towards the idea that IE/Firefox(Win) are a bit strange in this respect compared to the other browsers. the keypress clearly happened in the UI, not the document itself, so it's strange that they'd send a `keydown` to the document when that happened outside of the document (too lazy to test, but I'm assuming they're special-casing keypresses that resulted in getting

[2017-06-02 21:48] alice commented on #33
Agreed, the premise of this selector is that the focus ring should be there when you need it, and not otherwise.

The bit we're disagreeing on is how much of a signal using a keyboard shortcut to move focus is, compared to using tab/shift tab, as to whether the user needs it.

Obviously the last thing we want is to end up back in a situation where designers are insisting on focus rings being hidde

[2017-06-02 22:38] kloots commented on #33
Having implemented keyboard shortcuts in Slack, Twitter and Yahoo! Mail — those always require JavaScript to explicitly manage calling `focus()` in response to a keypress as well as the strategic placement of a class used to style focus. In adopting this polyfill for Slack I'm not evening relying on the "focus-ring" class to support keyboard shortcuts, as often the class I need to style the focus

[2017-06-02 22:41] kloots commented on #33
Have any teams at Google implemented this polyfill in their web apps? Or any other large web apps used this? If my opinion is in the minority, I'm happy to simply fork and move on.

[2017-06-03 17:37] bkardell commented on #33
The chat input itself has a ring, right? Then you press a key command and it disappears because the sidebar opens. What you're saying I think is that the act of suddenly displaying that is enough of a visual cue to let users understand the state of focus and what will happen if they press tab, shift tab, etc?  Just trying to make sure I understand because the current behavior seems reasonable to m

[2017-06-03 22:08] alice commented on #33
@bkardell That's a good point. I don't think this is a general rule for focus following a keypress, though; I could imagine a scenario where, say, a keyboard shortcut exists to move focus away from an active text field which would otherwise be a tab trap, in which case there wouldn't be any new UI.

@kloots Thanks for the further examples - very useful to know that you typically style focus manual

[2017-06-04 14:07] bkardell commented on #33
I know I said this before, but I still think we may need to figure out and
allow some attributes or at least properties for folks making things beyond
what are generally already interactive elements to say where they 'fit' in
this algorithm.

On Jun 3, 2017 6:08 PM, "Alice" <notifications@github.com> wrote:

[2017-06-05 02:06] alice commented on #33
@bkardell

Agreed, but I think that is a separate (but related) issue to this.

[2017-06-05 20:22] kloots commented on #33
@alice thanks for your patience and thoughtful consideration on this issue. Really appreciate it! I've [opened a PR for your review](https://github.com/WICG/focus-ring/pull/34).

[2017-06-05 21:02] kloots commented on #15
@patrickhlauke so you think the behavior in Firefox for Windows is just a bug then, leaving IE simply as the outlier? I was thinking the difference between Firefox for Mac and Windows is a demonstration of how this behavior might be inherited from the platform. I have exactly 0% experience developing desktop apps, so take my observation as nothing more than that.

If the current behavior exhibited

[2017-06-05 21:08] alice commented on #15
Agreed, it would be great if the focus event indicated its source. However, I can't see that being standardised in any timely manner.

I agree that it would be weird to send a keypress event for a keypress which happened outside of web contents, but I think an argument could be made for it in this case.

In fact, I think it would work well with any eventual API to explain a focus event - a `relate

[2017-06-05 21:16] alice commented on #15
I asked Cynthia Shelly if she remembered any details about the IE behaviour, and she said it's always been that way in IE, but wasn't sure whether it was deliberate, or whether Edge also supports it.

[2017-06-06 01:49] kloots opened #35 "Remove support for author-added focus-ring class"
Filing up as a followup from [the discussion in issue #33 pertaining to the need for the `data-focus-ring-added` attribute](https://github.com/WICG/focus-ring/pull/34#pullrequestreview-42163894).  [As of 8d00580](https://github.com/WICG/focus-ring/commit/8d005806af5dc98b1ee2661ff764aaeda2150018) this polyfill supports persistence of instances of an author-defined `focus-ring` class. I would argue

[2017-06-06 01:55] kloots commented on #15
@alice yeah - I wasn't thinking we'd be able to get browsers to indicate the source of the focus event any time soon, was just proposing that as an idea.

[2017-06-06 12:17] alice commented on #35
The issue with this:

[code]

is that there is no way to recover the *default* focus style.

[2017-06-06 14:02] kloots commented on #35
@alice you didn't address my original point, which is once support for the actual `:focus-ring` pseudo lands in browsers, how would authors achieve the persistence you are currently offering in the polyfill? It doesn't seem like a good idea for this polyfill to temporarily give authors an ability they eventually won't have.

That aside, authors wishing to restore the browser's default focus style

[2017-06-06 15:46] jonathantneal commented on #35
We can [restore `outline` via `outline-width`](https://developer.mozilla.org/en-US/docs/Web/CSS/outline-width) in native land:

[code]

Removing non-spec syntactical sugar will make developer’s lives easier later. In my experience, they will _always_ come to rely on your non-spec sugar.

[2017-06-06 16:14] kloots commented on #9
@alice @robdodson should we close this issue since the fix has been merged? Or are you waiting to publish the fix to npm before closing?

[2017-06-06 16:16] jonathantneal commented on #8
These are great observations, @joe-watkins. Here is my train of thought on the matter:

In [Media Queries Level 4 or 5](https://drafts.csswg.org/mediaqueries-5/#mf-scripting), we can check for scripting:

[code]

But if `:focus-ring` ships first, it doesn’t matter. So, for now, we can use the `.js` cowpath:

[code]

But that increases selector weight. Err..

So, what if the polyfill provided 2 foc

[2017-06-06 16:35] jonathantneal commented on #7
Depending on the result of #34, I can file a pull request to whitelist contenteditable.

[Test Page](https://s.codepen.io/jonneal/debug/b8cf0f3cff01f0a628d75f25cf9ac9d0)

I tested that page in **Edge** and **Internet Explorer 11**. None of these elements receive an outline from a pointer, but they all do from keyboard. In Chrome 48, Firefox 53, and Safari 10.1.1, `[contenteditable]` did receive ou

[2017-06-06 16:38] kloots commented on #7
@WW3 I've cut a PR to address this issue as the current behavior needs to be tuned IMO. Currently it requires an ARIA role of `textbox` to match and would also match if an element _only_ had a role of `textbox` and no `contenteditable` attribute—which isn't right. I think the right approach is simply keying off of the `contenteditable` attribute.

[2017-06-06 16:42] kloots commented on #15
What's the verdict here? Close this issue if we consider the variations in the browsers intentional and ok? Or consider IE's behavior correct, and therefore begin filing bugs in Chrome, Safari and Firefox for Mac.

[2017-06-06 16:46] alice commented on #15
My opinion hasn't changed :) I think it would make sense to file bugs.

[2017-06-06 17:49] patrickhlauke commented on #15
what's more likely to happen quicker: browsers adopting the behavior of IE for consistency/web compat (though doubt any projects in the wild rely on the behavior, as otherwise this inconsistency would have likely been found sooner), or browser adopting proper native `:focus-ring`?

[2017-06-06 17:50] patrickhlauke commented on #15
related, if filing bugs is chosen, probably worth documenting this at least in https://compat.spec.whatwg.org/

[2017-06-06 18:36] jonathantneal opened #38 "Recommendation: Promote styling `outline-width` over `outline`"
To preserve user agent outline styles, I recommend you promote styling `outline-width` instead of `outline`:

[code]

This allows overrides to restore user agent styles:

[code]

[2017-06-06 18:56] jonathantneal opened #39 "Question: Who to ask about focusring JS event?"
The [Selectors 4 specification] doesn’t mention a corresponding JS event for `:focus`, so I understand that it might also not mention a corresponding JS event for `:focus-ring`.

Is that something to ask here? Feel free to close this if it is outside the bounds of this project.

[2017-06-06 21:49] alice commented on #39
Curious what you'd use it for that `focus` doesn't cover?

[2017-06-12 19:50] rchrdnsh opened #40 "Is it possible to style the focus-ring with a box-shadow instead of an outline?"
That would be fantastic, as that is a very common pattern and one the main reasons why many people disable the outline on focusing-rings. Also want to be able to style it with CSS transitions as well...

...I suppose an example would be every CSS framework ever?... ;-P

[2017-06-12 20:50] robdodson commented on #40
Sure you can style `:focus-ring` with whatever you want.

ex:

[code]

[2017-06-12 20:50] #40 closed

[2017-06-12 20:52] robdodson commented on #38
Yeah I think this is a good suggestion. Any interest in submitting a PR to update the docs?

[2017-06-12 20:57] jonathantneal commented on #38
Yes. I will do that.

[2017-06-12 21:00] jonathantneal commented on #39
At the time, the thought that came to mind was tooltips, but it was only hypothetical. I was also overthinking how the polyfill could (in theory) rely on the `focusringin` event to attach the additional classname.

[2017-06-12 21:06] robdodson commented on #35
alice and I discussed this and agree that we can remove the attribute and update the recommendations to use `outline-width`. It would be good to figure out a standards based way to add elements to the "always match focus ring behavior" but we can take that up as a separate issue.  We would probably want an additional CSS property for something like that.

[2017-06-12 21:19] jonathantneal commented on #38
Closing in favor of #41

[2017-06-12 21:19] #38 closed

[2017-06-12 21:34] robdodson commented on #29
Thanks for the thoughtful discussion guys.

I agree with @kloots on this one. The `:focus-ring` pseudo selector is primarily for exposing a styling hook based on input modality. @bradkemper has a good point that it's definitely quirky, but it's out of scope for this little library to try to tackle that issue. We're not trying to correct or normalize the way focus actually behaves on different plat

[2017-06-12 21:34] #29 closed

[2017-06-12 21:37] robdodson commented on #28
Good catch. Yeah we'll want to look at the event path to get to the real active element, as you've done here: https://github.com/emilbillberg/focus-ring/blob/master/focus-ring.js#L31

Any interest in submitting a PR with this fix?

[2017-06-12 21:56] robdodson commented on #15
We're going to try an experiment. We'll listen for the document's `blur` event to tell when focus is leaving the page. At that point we can install a pointer event listener which will try to detect if the user clicked on the page when focus reenters. We'll also do this at onload time. If focus enters the page and the point event listener wasn't triggered then we'll assume it came from a keyboard.

[2017-06-12 21:59] robdodson commented on #9
yep thanks for the PR!

[2017-06-12 21:59] #9 closed

[2017-06-12 22:05] robdodson commented on #39
I think this is an interesting discussion, but not an issue with the library per se. For a tooltip you could do it primarily with CSS, similar to http://heydonworks.com/practical_aria_examples/#input-tooltip but using `:focus-ring` instead of `:focus`. That way it wouldn't display on mouse click, but would display on keyboard focus. Giving you a kind of pseudo hover behavior.

I'm going to close t

[2017-06-12 22:05] #39 closed

[2017-06-12 22:17] robdodson commented on #8
After discussing this with Alice I think we're going to go with the approach of adding a class to the body to indicate that JS is working and the polyfill has been loaded properly. This should also address https://github.com/WICG/focus-ring/issues/6

[2017-06-12 22:18] robdodson commented on #6
We're going with the class on body approach as discussed in https://github.com/WICG/focus-ring/issues/8

I'm going to close this issue so we can track the work in #8.

[2017-06-12 22:18] #6 closed

[2017-06-12 22:33] joe-watkins commented on #8
@robdodson Sweet!

[2017-06-12 23:08] jonathantneal commented on #8
@robdodson, will it increase selector weight?

[2017-06-13 20:37] alice commented on #15
Bad news: the order of `mousedown`/`touchstart` and `focus` events doesn't seem to be predictable - so you can sometimes get the `focus` event first, sometimes `mousedown`.

[2017-06-13 20:46] patrickhlauke commented on #15
@alice wonder if any of these (manually compiled) event order results can help somehow? https://patrickhlauke.github.io/touch/tests/results/#mobile-tablet-touchscreen-events

[2017-06-13 21:01] kloots commented on #15
@alice yep. I'm not surprised. I already went down this road while trying to solve for this. I thought I had a comment to that effect earlier in this thread.

[2017-06-13 21:08] rchrdnsh commented on #40
noice! this is truly amazing news, indeed! XD Than you, Rob :-)

[2017-06-13 22:25] alice commented on #15
@patrickhlauke I tested it myself and it seems to be genuinely inconsistent (in Chrome at least - I didn't check other browsers since one browser being inconsistent makes it unworkable).

@kloots Hm, doesn't seem like there was in this thread at least.

[2017-06-13 23:07] robdodson commented on #33
Thanks for the thorough discussion everyone. Sorry that I'm coming to this late, but I had a few questions about the proposed solution.

To recap:

Right now when I hit cmd + . in Slack it opens the drawer and focuses a heading with `tabindex=-1`. This is problematic because a mouse user is now matching `:focus-ring` based on the fact that they just used the keyboard. As a result, @kloots suggest

[2017-06-14 17:40] kloots commented on #33
@robdodson regarding the modal window use case you mentioned: even _that_ is questionable in my experience. Just because an action like opening a dialog is _initiated_ via one mode (keyboard), you're never guaranteed the user will complete it via the same mode—especially in a context switch like popping up a dialog.

Here's a good example from a bug we experienced while integrating this library at

[2017-06-14 17:58] bkardell commented on #33
FWIW, my org uses it for online colleges and internal apps for managing them.  We've never heard any complaints, but that doesn't mean I don't appreciate your arguments.

[2017-06-16 16:49] alice commented on #33
@kloots

Agreed, this is the crux of it.

I would like to accept the PR and see how people feel about it, on the understanding that we can always roll it back later on if it breaks things.

@marcysutton @robdodson @bkardell Any objections?

[2017-06-16 16:56] alice commented on #33
Also, I think something like this might work as an author mechanism for opting in to the focus ring:

[code]

Then authors could use the `.focus-ring` class to force the focus ring when appropriate.

This would be just a convention, but if we agree on this convention it would probably make sense to reinstate the ability to manually apply the `focus-ring` class in the polyfill.

[2017-06-16 17:00] bkardell commented on #33
so, I guess here are the things I am pondering... Browsers are very hesitant to spec when you should get the ring and when you shouldn't, they prefer to wait until there are competing experiments and massive amounts of data and agreement.  Not all browsers even agree on all cases and so anything you do 'universally' is going to mismatch with some of what they do 'naturally'.

Given all this, I'm k

[2017-06-16 17:05] alice commented on #33
@bkardell Any proposal for what the "clue" part might look like?

[2017-06-16 17:40] kloots commented on #33
@bkardell my thoughts with respect to browser behavior relative to this project and what you are proposing:

1. `Tab` and `Shift` + `Tab` are the only mechanism browsers provide out of the box for navigating between UI controls via the keyboard. If we only apply the `focus-ring` class in response to a `Tab` or `Shift` + `Tab` keypress, we're inline with current browser behavior.

2. Should we inst

[2017-06-16 19:59] bkardell commented on #33
@kloots I do want to mention that our original piece on this was modality oriented, so you could talk specifically about keyboard focus, for example, but that didn't really fly for various reasons.  I think most of them should be documented in css wg minutes or here in issues.

[2017-06-16 20:01] kloots commented on #33
@bkardell good to know! Thanks for that additional context. I'm interested in learning the history then and the decisions that led to the current state.

[2017-06-16 21:16] marcysutton commented on #33
I'm concerned about the cognitive overhead required to find your place on the screen if you have to Tab / Shift + Tab to get focus outlines to show up after a modal window opens. But it's hard to tell how many users will be affected by that. I think merging the PR and seeing how it works in real-world scenarios is a good way forward. But I also like the idea tossed around previously for a UA hook

[2017-06-16 21:31] bkardell commented on #33
@alice I mean, an attr on the document element would work/be pretty speedy/easy to look up

[2017-06-16 21:32] cycomachead commented on #33
I do think there is value in exposing how focus was achieved. The ally.js library has a function that uses `data-focus-source` as an attribute that can you can query for in CSS. (The options are "script", "keyboard" and "pointer")

https://allyjs.io/api/style/focus-source.html

That's fairly easy to override and control in CSS, but a callback is pretty limitless, and I could potentially see having

[2017-06-16 21:48] alice commented on #33
@cycomachead It does help, thank you!

[2017-06-16 21:50] alice commented on #33
@marcysutton In terms of the cognitive overload, we've thrown around a few times the idea of having a browser setting to always show the focus ring (TBD how that plays into `:focus-ring` matching heuristics) - while this would require folks to find, understand and enable the setting, which is non-trivial, do you think it might still help for this case?

[2017-06-16 21:53] alice commented on #33
@cycomachead We're tossing around the idea of adding some extra information to the `focus` event to determine the focus source. Do you think you'd want an explicit enum like in `a11y.js`, or would an Event object be more useful?

[2017-06-17 00:22] cycomachead commented on #33
Hmm. This is tough. I haven't thought through every case - but I feel like an enum probably gets me 90% of the conceivable stuff, but an event object is essentially unlimited. The enum would be easy to work with, and probably more "forgiving" in the sense of possibly preventing complex cases in which focus rings are(n't) shown.

Lately, (and unsurprisingly) I've found the more complex/perfect a se

[2017-06-18 22:38] alice opened #42 "Brainstorm: options for opting in to always matching focus ring"
We know we need a way to opt an element in to always (or never?) getting a focus ring. Let's talk about strategies for doing this.

[2017-06-18 22:46] alice commented on #42
**Proposal: just use `:focus`**

Use the existing `:focus` pseudo-selector to opt an element in to always getting a focus ring on focus. Requires a way to recover the platform default focus style, assuming `:focus-ring` will be the UA default in future.

**Example**

[code]

[2017-06-18 23:15] alice commented on #42
**Proposal: add a new CSS property to express when an element should match `:focus-ring`**

Allow an element to opt in to `:focus-ring` matching the way built-in text editing elements do. Potentially also allows fine tuning focus-ring matching at page author discretion.

**Example**
/* all syntax to be considered a "straw man" */

[code]

[2017-06-18 23:17] alice commented on #35
I added an issue to discuss the "always match focus ring" thing: https://github.com/WICG/focus-ring/issues/42

[2017-06-19 08:04] alice commented on #42
cc @shans

[2017-06-20 02:34] robdodson commented on #7
Looks like this is fixed by https://github.com/WICG/focus-ring/pull/37 so I'm going to close this issue.

[2017-06-20 02:34] #7 closed

[2017-06-20 19:21] kloots commented on #42
@alice I think your 2nd proposal is far far better than pursuing the current `:focus-ring` implementation; it's more robust.

1. Allows for fine grain control over when the focusing ring is displayed; solving for all of the various niche cases discussed in #33
2. Makes it much easier for authors to preserve browser default focus styles (should they want to)
3. Feels more with-the-grain of CSS; rem

[2017-06-23 14:29] robdodson commented on #33
I've been thinking about this a lot and I'm now very in favor of only matching `:focus-ring` when the user presses `Tab` or `Shift + Tab`.

@kloot's use case of opening the side drawer made me realize we're also missing some accessibility primitives. Currently we all do this hacky thing of setting an element to tabindex=-1, moving focus to it and likely suppressing the focus ring using CSS. As @al

[2017-06-23 16:01] robdodson commented on #42
I like the second proposal if we can get buy-in. And I also want `outline: platform-default;` :)

[2017-06-23 17:24] kloots commented on #42
@alice @robdodson what's the next step for moving on @alice's proposal?

[2017-06-26 16:49] robdodson commented on #42
@kloots I think one thing alice and I were unsure of: were you saying you like the second proposal _instead of `:focus-ring`_ or in addition to `:focus-ring`? In other words, were you suggesting we drop `:focus-ring` entirely and pursue that other proposal?

[2017-06-26 17:16] kloots commented on #42
@robdodson yeah, I _really_ like @alice's second proposal and think it'd be better for the industry if we pursued that over `:focus-ring`.

[2017-06-27 00:18] alice commented on #42
To clarify: this was always intended to be _as well as_ `:focus-ring`. `:focus` can't be changed at this point.

[2017-06-27 15:03] kloots commented on #42
@alice thanks for the clarification. Man, sorry to hear `:focus` cannot be changed because that's the obvious pseudo-selector everyone knows about. Giving developers a new CSS prop that would allow authors to fine tune when it matches and what it looks like seemed really with the grain of how other things in CSS already work; like when `border-radius` was introduced years back.

[2017-06-28 01:30] alice commented on #42
Next steps:
- Write up full proposal for `show-focusring` (whatever we call it) property
- Figure out the status of [outline-style](https://developer.mozilla.org/en-US/docs/Web/CSS/outline-style), which allows recovering the platform outline style if used correctly
- Propose `:focus-ring` and `show-focusring` at CSS WG in Paris in August.

[2017-07-08 15:25] necolas commented on #33
I thought I'd add a couple more data points to support Todd's argument and proposal. We use a fork of this module in Twitter Lite and React Native for Web, and would occasionally and unexpectedly see the focus ring for the reasons Todd outlined. His proposed fix is also along the lines of the modifications I'm currently making to our fork so that Twitter Lite can better support multi- and mixed-mo

[2017-07-09 02:03] alice commented on #33
Great to have more data in support, thanks @necolas!

[2017-07-10 17:38] robdodson commented on #33
@necolas if we went with this change would you be able to use this polyfill directly or are there other things you needed to tweak? Just curious if there are any other missing pieces.

[2017-07-10 17:43] necolas commented on #33
I went with a different approach, which is to automatically handle the enabling/disabling of focus-ring styles without writing class names to the DOM: https://github.com/necolas/react-native-web/blob/02cfbf8/src/modules/modality/index.js#L85-L101

[2017-07-10 18:00] robdodson commented on #33
oh that's really cool, I like that 😄

[2017-07-12 14:29] emilbjorklund opened #44 "Suggestion: consider offering a distribution without baked-in DOM polyfills"
One thing currently prohibiting me from using this (very useful) library is that it bakes in polyfills for both `classList` and `matches` (as of v1.0.1) - both of which I already polyfill elsewhere in many of my projects.

Is there any possibility of offering one file in the `dist/` directory that does not include these?

[2017-07-12 14:48] emilbjorklund commented on #44
Ah - just saw now that the `classList` lib is not a polyfill per se - which makes it a bit trickier...

[2017-07-12 15:50] robdodson commented on #44
I think we removed `matches` in the source.

Does the inclusion of the `classList` polyfill break anything for you, or is this more of a file size concern?

[2017-07-12 21:35] emilbjorklund commented on #44
Yup – I caught that after posting, hence the edit. 😊

More of a filesize concern, I guess, but also some sort of principle. It's really nice building modern DOM stuff and just polyfilling as needed (and I’m really glad we need less polyfills/libs these days for the simple stuff) but it kinda defeats the purpose if everyone’s polyfilling or including small dependencies to fix minor browser inconsis

[2017-07-17 15:35] YellowKirby opened #46 "Optionally scope focus-ring to a specific DOM node"
For projects that are just standalone libraries/components, it might be beneficial to be able to scope the focus-ring JS to just a specific DOM node rather than the entire body. This would allow these components to use focus-ring without inadvertently modifying other parts of the parent application.

If the team thinks that this is worth doing, I'd be happy to submit a PR.

[2017-07-18 15:28] liorur opened #47 "focus-ring is not applied to first element if tabbing from parent into iframe"
assuming the iframe is running the polyfill, only the second focusable element will receive the focus-ring class, since the keydown event occurred outside the iframe

[2017-07-18 15:32] liorur commented on #47
Same issues as #15

[2017-07-18 15:32] #47 closed

[2017-07-19 08:47] liorur commented on #15
@kloots regarding your suggestions

You mention this approach indeed works, however it has the drawback that

I believe this could be mitigated by 'listening in' on HTMLElement.focus()

roughly:
[code]
Might this serve as a solution, or am i missing something?

[2017-07-25 05:34] robdodson commented on #44
It's not that it's not important, I'm just not sure what the best approach is. I guess we could tell folks what we depend on and tell them they need to feature detect and manually load those polyfills themselves? Are there better alternatives that you've seen?

[2017-07-26 05:56] robdodson commented on #15
I personally have mixed feelings about monkey patching `focus()` because it's such an important API

[2017-08-02 22:32] kloots commented on #15
@liorur, I agree with @robdodson regarding no messing with the `focus` event implementation. But I see where you're coming from. I wonder if we could accomplish the same goal via a `focusin` event listener — assuming that `focusin` fires before `focus` when focus is triggered programmatically vs. a user-generated event.

[2017-08-02 22:37] kloots commented on #33
@alice what's your current thinking on how to proceed here? Like @necolas, [I ended up having to fork `focus-ring`](https://github.com/kloots/focus-ring) months back in order to successfully integrate it into a production web app (Slack). And I believe [@robdodson is also in favor of only matching when the user is navigating via the Tab key](https://github.com/WICG/focus-ring/issues/33#issuecommen

[2017-08-04 04:53] robdodson commented on #33
thanks for your patience @kloots  :)

I just chatted with alice about this. We had a couple ideas:

First step is we'll switch over to just matching tab/shift-tab. I think we definitely want to roll in the feedback from yourself and @necolas. That's WICG in action 💪

Then as a future v2 we'd explore making it more configurable per alice's suggestion here https://github.com/WICG/focus-ring/issues/4

[2017-08-04 05:42] robdodson commented on #15
FWIW alice and i tested it and in FF, Chrome, and Safari on Mac it seems to go 'focus', followed by 'focusin'. Not sure if that helps anyway but wanted to share that finding :)

[2017-08-04 08:33] liorur commented on #15
@kloots @robdodson i do share your unease about using HTMLElement.focus() because its considered a bad practice to mess with the browser api (thought keep in mind we are attempting a polyfill for a future browser behavior, so it stands to reason that we will make use of the browser infrastructure), regradless i couldn't not think of a scenario that this approach breaks, i would be grateful if you

[2017-08-04 14:14] bkardell commented on #33
FWIW I see CSSWG had some brief discussion in Paris https://logs.csswg.org/irc.w3.org/css/2017-08-02/#e842809 - unfortunately I was not present :(

[2017-08-04 16:56] kloots commented on #33
@bkardell I just scanned through the discussion from Paris, but don't see anything relevant to moving forward with only matching on `Tab` or `Shift` + `Tab`. Unless I missed something. If I did, can you post a pull quote and link it back?

[2017-08-04 16:57] kloots commented on #33
@robdodson [the next steps you mentioned](https://github.com/WICG/focus-ring/issues/33#issuecomment-320155940) sound good to me.

[2017-08-04 20:11] bkardell commented on #33
@kloots disregard, pasted this into the wrong issue, had a few open :( sorry.

[2017-08-05 07:42] liorur commented on #15
@kloots @robdodson, Another way to mitigate this issue (though admittedly not resolving it), is to combine the keyboard and mouse events detection along with special behavior for the first and last focusable elements on the pages.
In essence:

- keyboard event + focus event => add focus ring
- mouse event + focus event => add focus ring only to whitelist
- focus event only => add focus ring only t

[2017-08-06 17:25] robdodson opened #48 "focus-ring class always being applied on mouse click"
I noticed a bug related to this chunk of code https://github.com/WICG/focus-ring/blob/master/src/focus-ring.js#L125-L128

[Here's a jsbin to help reproduce](https://output.jsbin.com/fedakoy).

1. Click on the button with a mouse
2. Click in the white space above the button
3. Press Tab to focus the button
4. Click on the white space above the button
5. Click on the button with a mouse, notice the

[2017-08-07 17:31] marcysutton commented on #42
I really like the way this is going. It seemed difficult to support all necessary use cases with `:focus-ring` alone, and this provides a lot more control for handling focus states within a deep cascade. We'll have a challenge explaining why `:focus` couldn't be used no matter which way we go, so at least if the APIs allow us to achieve more detailed focus we'll be successful at getting the job do

[2017-08-08 05:54] robdodson commented on #15
We just merged https://github.com/WICG/focus-ring/pull/34 which means we are no longer attempting to match `.focus-ring` if someone moves focus programmatically. Instead it only matches if the user moved by pressing the Tab or Shift-Tab keys. I think programmatic focus was the only thing holding back @kloots' suggestion in https://github.com/WICG/focus-ring/issues/15#issuecomment-305389582.

I con

[2017-08-09 19:20] kloots commented on #48
👍

[2017-08-09 22:56] #48 closed

[2017-08-10 17:08] stefanjudis commented on #8
Hmm.. @robdodson this can be closed now or? I looks like I messed up the auto issue closing. :)

[2017-08-10 17:42] robdodson commented on #8
yep we can close it. Although I do kinda like the suggestion of using the `.js-*` prefix. I think that's a common convention.

[2017-08-10 17:42] #8 closed

[2017-08-11 20:47] robdodson commented on #42
regarding this example:

[code]

I just learned about [the `revert` value](http://caniuse.com/#feat=css-revert-value). It looks like only Safari supports it but I think this might be what we want.

[2017-08-11 22:28] kloots commented on #42
@robdodson nice one!

[2017-08-21 15:08] thasmo opened #52 "Error `Unable to get property 'contains' of undefined or null reference` in IE 11"
on line [`if (document.activeElement.classList.contains('focus-ring')) {`](https://github.com/WICG/focus-ring/blob/master/dist/focus-ring.js#L302)

Using version 2.0.

[2017-08-23 10:57] #52 closed

[2017-09-07 20:26] robdodson opened #53 "Browser vendor feedback"
Just wanted to put down some feedback we've received while discussing `:focus-ring` with other implementors. We were having these discussions over email but I realized it'd be better if they were here on GitHub so there's a record. Maybe we should add this to the explainer at some point? Anyway, here's a brief recap:

## Mozilla

They mentioned that they already have `:focus-ring` in the form of [

[2017-09-08 04:10] cookiecrook commented on #53
+ @hober

[2017-09-12 21:42] johnevanofski opened #54 "Focus ring does not account for radio buttons"
I noticed that the focus-ring polyfill only looks for tab key presses, and not arrow input, which is part of the default behavior for radio buttons.

I've fixed this locally by adding a few lines to the `onKeyDown` function.

[code]

[2017-09-19 23:05] fstorr commented on #54
@johnevanofski Thanks for this—it's just what I needed.

[2017-09-21 02:20] robdodson commented on #54
@alice can you think of any reason why we wouldn't want to add this to the library? Otherwise I think we should PR it

[2017-09-21 13:05] OliverJAsh opened #56 "Exception: A DOM Element reference is required"
I just put this into production on unsplash.com and noticed that we're getting thousands of client-side exceptions reported due to `A DOM Element reference is required`. The offending line is here https://github.com/WICG/focus-ring/blob/0e9f086bbc59ca84a2a932e89df0b71bce18b643/dist/focus-ring.js#L25

I haven't been able to reproduce this locally. Do you have any ideas why this might be happening?

[2017-09-21 13:16] OliverJAsh commented on #56
Almost every occurrence of the error seems to be IE11. 🤔 I just tried accessing the website in Browserstack and I couldn't reproduce.

[2017-09-21 13:23] OliverJAsh commented on #56
Here are stack traces:

[code]

and

[code]

It looks like `document.activeElement` is failing to pass the condition `!el || el.nodeType !== 1`.

https://github.com/WICG/focus-ring/blob/0e9f086bbc59ca84a2a932e89df0b71bce18b643/dist/focus-ring.js#L24

[2017-09-21 17:09] cycomachead commented on #56
We are seeing this in our error logs too. I haven't updated to v2...yet, though.

[2017-09-21 21:56] OliverJAsh commented on #56
We are using the latest release, v2.0.1

[2017-09-22 11:35] robdodson commented on #56
Sorry for the delay, both Alice and I are traveling at the moment.  I'll see if I can look into this a bit tomorrow.

[2017-09-29 20:15] robdodson commented on #56
Looking into this a bit more, I wonder if this line is causing the issue:

https://github.com/WICG/focus-ring/blob/0e9f086bbc59ca84a2a932e89df0b71bce18b643/dist/focus-ring.js#L302

If there's no activeElement it may fall back to `document` which doesn't have a nodeType of 1 https://github.com/WICG/focus-ring/blob/0e9f086bbc59ca84a2a932e89df0b71bce18b643/dist/focus-ring.js#L24

I'll keep digging ju

[2017-09-29 20:17] robdodson commented on #56
yeah double checking your stack traces, they're both emanating from these code blocks:

https://github.com/WICG/focus-ring/blob/0e9f086bbc59ca84a2a932e89df0b71bce18b643/dist/focus-ring.js#L290-L308

[2017-09-29 20:38] robdodson commented on #56
I'm also having a hard time reproducing this.

@OliverJAsh, @cycomachead would y'all mind adding a snippet to your version of `dist/focus-ring.js` to help us debug?

This would replace [the ClassList function at line 23](https://github.com/WICG/focus-ring/blob/0e9f086bbc59ca84a2a932e89df0b71bce18b643/dist/focus-ring.js#L23)

[code]

[2017-09-29 20:39] robdodson commented on #54
@alice friendly ping on this. are you cool with me doing a PR or can you think of a reason we wouldn't want to include this?

[2017-10-06 18:43] majornista commented on #54
@robdodson I use the following to evaluate `event.key`, that way the polyfill will work for tablists, list boxes, radio buttons, or a dialog closed with Escape key or keyboard activation of an OK button:

[code]

[2017-10-08 20:26] robdodson commented on #54
@kloots I'm curious what your thoughts are on this? Do you think expanding the keys that trigger keyboard modality to the above set will affect your keyboard shortcut use case?

[2017-10-09 16:56] robdodson commented on #56
Friendly ping on this. If either of you are able to include that snippet in your site so we can track down the source of the error that would be super helpful :)

[2017-10-09 19:42] cycomachead commented on #56
Hey, sorry for the slow response. Unfortunately, I just haven't gotten a chance to push the fix to production because web pack doesn't like me (or something). I'll let you know when I get some data! :)

[2017-10-09 19:55] kloots commented on #54
@robdodson I think @johnevanofski is right, we _should_ account for this behavior as browsers do move focus between radio buttons in a group (radio buttons with the same `name`). So, the `onKeyDown` listener should first check if the target of the event is a radio button before responding to an arrow key press.

[2017-10-09 22:45] majornista commented on #54
@kloots and @robdodson Browser doesn't natively move focus in response to Home, End, PageUp, PageDown, Enter, Space, Esc, but components often do. Much like radio buttons, in WAI-ARIA design pattern, pressing Home or End on a `tab` in a `tablist` moves focus to first or last `tab`. Closing a dialog using `Esc` key, or by pressing `Enter` or `Space` on a Cancel button, should move focus to the butt

[2017-10-09 22:54] robdodson commented on #44
Thinking through this a bit more...

We could tell folks to use polyfill.io to load the necessary polyfills.
Or we could distribute two versions. A polyfilled one and a non-polyfilled one. And let folks decide.

[2017-10-09 22:56] robdodson commented on #33
Closing this issue because I think next steps were outlined here: https://github.com/WICG/focus-ring/issues/33#issuecomment-320155940

Happy to reopen if folks want to keep the discussion going.

[2017-10-09 22:56] #33 closed

[2017-10-09 22:59] robdodson commented on #35
I think this issue was resolved with #36. Closing.

[2017-10-09 22:59] #35 closed

[2017-10-09 23:59] kloots commented on #54
@majornista Right, but those custom widgets also manage their own focus/manipulate focus and as such should apply the `focus-ring` class when they want the focus ring to appear in response to any of those keys. If this polyfill tries to account for custom controls, we'll be right back where we started before issue #33.

[2017-10-10 00:05] majornista commented on #54
@kloots and @robdodson Sorry for not being aware of the earlier thread regarding Issue #33 and PR #34. I'm with you @kloots, that the previous way of interpreting any keyboard interaction as a trigger applying `:focus-ring` to the next element to receive focus was problematic.

I also think that only handling `Tab` and `Shift + Tab` is a bit limiting too. If this is meant as a polyfill for `:focus

[2017-10-10 00:48] robdodson commented on #54
This is a pretty interesting idea.

I wonder if @alice's proposal for [an additional CSS property](https://github.com/WICG/focus-ring/issues/42#issuecomment-309309323) would help.

[code]

[2017-10-10 07:08] emilbjorklund commented on #44
@robdodson Sorry for the radio silence! Re: your previous comment, I personally tend to like the approach of two builds (polyfilled vs non-polyfilled) in general.

[2017-10-10 09:43] OliverJAsh commented on #56
@robdodson Just got back from holiday, adding it now. I'll let you know.

[2017-10-10 18:54] majornista commented on #54
@robdodson I agree that @alice's proposal would probably provide the level of control necessary, but how should this work in the polyfill?

[2017-10-12 11:29] rodneyrehm commented on #56
When removing the activeElement from DOM it's possible IE11 is in state `document.activeElement === null`. When the browser window is unfocused (shift focus to another application, or F12 Tools) and refocused, the handlers `onWindowBlur()` and `onWindowFocus()` cause the ClassList to be constructed with `null` as the DOM Element to operate on, hence the `A DOM Element reference is required` error.

[2017-10-12 21:53] robdodson commented on #15
I _may_ have a fix for this if any adventurous souls want to give it a try. It loves in the https://github.com/WICG/focus-ring/tree/intial-pointer-fixup branch. Note, I removed the `classList` polyfill cuz having to do a rollup build every time I wanted to test something was annoying. So you'll have to test it on modern(ish) browsers. I checked in Chrome, Firefox, Safari, and Edge 15 and it seems

[2017-10-12 22:00] robdodson commented on #15
I should probably explain the fix...

I changed it to assume that `hasKeyboardevent` is initially true instead of false. Then I added listeners for any kind of fine-grained pointing device input:

[code]

Hearing any of those events will change `hasKeyboardEvent` to false, and also remove all of the event listeners. My thinking is that we might not be able to listen to `keydown` but there's a good

[2017-10-12 22:28] robdodson commented on #54
@alice mentioned an interesting idea and I'm curious what you all think:

What if when a user presses tab to move focus from one control to the next, from then on we assume keyboardModality is true, and any focused element will match :focus-ring. If we detect any event from a fine-grained pointing device (i.e. `mousemove`, `touchstart`, `pointerdown`) we set keyboardModality to false. If they hit

[2017-10-13 01:46] majornista commented on #54
I agree that mouse down should clear focus-ring, but that still won't account for arrow keys, etc. with radio buttons, tablist, grids. or space bar on a checkbox. My thinking was that the polyfill was trying to match browser input modality heuristics for button, radio and checkbox when using :focus-ring on any element.

[2017-10-13 11:31] OliverJAsh commented on #56
@robdodson Given the above comment by @rodneyrehm, do you still need me to add the debug script?

[2017-10-15 13:27] iandevlin commented on #15
@robdodson Tested this today on Windows in Chrome, Firefox, Edge, and Internet Explorer 11.

My test file (https://iandevlin.com/html5/focus-ring) has a skip link at the top that should appear only when it has focus, and when the page is loaded, focus is set via JS on the first navigation item (about).

**Expected results:**
When page loads focus is set on the about link but cannot be seen. When t

[2017-10-17 15:42] robdodson commented on #15
Great thank you Ian! I may merge the fix if no one has any objections?

[2017-10-17 16:38] robdodson commented on #56
I think this should be fixed now. I just published 2.0.2 if you want to give it a shot :)

Thanks @rodneyrehm for pointing us in the right direction!

[2017-10-18 15:27] boolieman opened #59 "Add support for other navigation keys"
I have found your library and first off, its AMAZING! Thank you so much, I would like to propose adding support however for other keystrokes such as arrow and spacebar keys so that the interactions work as expected via all input element in a complex form.  Is this part of the spec that was proposed? If so I would be more than happy to add handlers for these events in a PR.

[2017-10-19 00:09] robdodson commented on #59
Duplicate of #54. We're discussing if we need to make changes over there :)

[2017-10-19 00:09] #59 closed

[2017-10-19 02:38] robdodson commented on #54
@alice and I have been chatting about this issue off and on for a week now. Sorry for the slow reply. It's a tough problem! 😸

A while back [we changed the polyfill](https://github.com/WICG/focus-ring/pull/34) so the only key that triggers keyboard modality is the `Tab` key. We did this after getting feedback that having _any_ key trigger keyboard modality was causing issues for apps that heavily

[2017-10-19 15:24] bkardell commented on #42
I'm really glad to see this conversation happening: Early on I posited that we needed more than just `:focus-ring` with a simple modality switch as there are things that just don't/can't automatically be mapped cleanly to existing concepts: custom elements and pretty much anything with a tabindex=-1 present interesting challenges that seem like they have to somehow be component specified at least,

[2017-10-19 15:30] bkardell commented on #54
I'm pro exploring focus navigation starting point but I have to say that as a frequent keyboard user, I'm not sure we have the experience/data to say how that really should play out really well with focus indicators in all cases.  When a drawer or dialog opens, the resulting change really serves as a pretty good implicit indicator of where my focus is, but in several cases I find that when its int

[2017-10-19 17:06] robdodson commented on #54
Can you provide an example of this?

[2017-10-19 17:46] bkardell commented on #54
I mean, it's tough without a concrete UI to point to but I've been on sites where it isn't clear what 'main' is and key to main and the only thing that happens is focus disappears and I go "where am I".  if there isn't a pretty clear implication because the area gets a ring or the screen scrolls, I feel kind of lost.  This also happens for me frequently when I close a dialog or a drawer.  While it

[2017-10-19 18:48] robdodson commented on #54
I think the change we're proposing might actually be beneficial for your use case then.

If a developer would like to draw a focus indicator then they can continue to manage focus with the tabindex=-1 trick and that would match `:focus-ring`.

If they decide that the on screen UI change is clear enough that it's implied focus has moved into the new container, then they could use focus start point.

[2017-10-23 09:36] iandevlin commented on #42
Just wanted to add my support for @alice's proposal for `show-focusring` which is a really nice idea.

[2017-10-23 19:04] kloots commented on #15
@robdodson @iandevlin I think [I've found a much simpler solution](https://github.com/WICG/focus-ring/pull/60) for this issue. Have a look at the PR.

[2017-10-23 19:41] kloots commented on #54
@robdodson, @bkardell [my fix for issue #15](https://github.com/WICG/focus-ring/pull/60) ended up requiring me to fix this issue.

[2017-10-24 18:40] #15 closed

[2017-10-24 23:19] alice commented on #54
I don't think that fix actually does end up fixing this (although it is a great fix for the other issue): if you focus on the first radio button on https://wicg.github.io/focus-ring/demo/ and then press down, the second radio button doesn't get a focus ring.

What if instead of focusing only on tab, we had a whitelist of keys which trigger focus modality? It seems like arrow keys are a fairly stro

[2017-10-24 23:22] majornista commented on #54
@alice You mean something like this: https://github.com/WICG/focus-ring/pull/57 ;)

[2017-10-30 19:02] esbenam opened #61 "Issues with proper focus styles on selects in Chrome"
First of all, thank you for all the work you are doing! It is so nice to see work being put into making the creation of accessible user interfaces more accessible!

I have stumbled upon an issue with the demo in Chrome (```Version 61.0.3163.100 (Official Build) (64-bit)``` on OSX).

# The problem
The demo currently leaves the multi-select and the select with a size attribute without any visual foc

[2017-10-31 10:39] dakeyras7 opened #62 "Check more keys that just `Tab` to determine if in keyboard mode"
I am using this polyfill on a project with a couple of modal dialogs that can be triggered from different parts of the app. Whenever I close such a dialog via the `Enter` or `Escape` key focus is reset to the original place manually via `.focus()`.

Unfortunately the `.focus-ring` class does not seem to be added, because only the `Tab` key is considered when setting the `hadKeyboardEvent`.

Would

[2017-11-01 12:29] dakeyras7 commented on #62
Just realised that there is a discussion in #54 already and #57 seems to address this. Didn't get that via their titles. Sorry about that. I am closing this.

[2017-11-01 12:29] #62 closed

[2017-11-01 23:30] robdodson commented on #54
@kloots what do you think of the proposal in https://github.com/WICG/focus-ring/issues/54#issuecomment-337783170 and the notion of focus navigation start point?

[2017-11-02 18:17] kloots commented on #54
@robdodson sorry for my very late reply to this issue. [I've got a PR up that fixes this specific bug](https://github.com/WICG/focus-ring/pull/63). Going to re-read this thread to formulate an opinion on the proposal for this focus navigation start point.

[2017-11-02 19:57] robdodson commented on #54
Thanks for sending in the PR :)

I'm going to hold off on merging it based on your feedback on the thread. I'm basically proposing reverting the behavior because I think we're trying to solve two slightly different problems with the same tool.

[2017-11-02 21:11] robdodson commented on #54
I was suggesting that we simplify `:focus-ring` so that it goes back to matching if _any_ keyboard key was used to move focus. Then we don't need to add special consideration for arrow keys, home/end, pageup/pagedown, etc. We also don't need to account for ARIA patterns.

For Slack's use case, where y'all use keyboard shortcuts to manage focus to non-interactive regions of the page, you would swit

[2017-11-08 21:25] srinivasvenigalla commented on #54
I have noticed that when the focus is set to an element currently not in viewport, the focused element does not scroll into view. I have seen this in Chrome, but not tested in other browsers. It would be nice if we can add element.scrollIntoView after setting the focus. https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView#Browser_compatibility

[2017-11-09 08:14] AndreasA opened #65 "Wrong behaviour according to CSS editor drafts?"
According to:
https://drafts.csswg.org/selectors-4/#the-focusring-pseudo

The pseudo class focus-ring should always be applied on focus to input elements to indicate a where the user should enter text.
However, it should applied if I select e.g. a link / button element using the keyboard (tab button).
However, if I do so with the mouse it shouldn't be applied. The reason is that if I tab through l

[2017-11-09 19:02] robdodson commented on #54
Hey @srinivasvenigalla. There's an [open Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=776368&can=5&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified) for focus() interoperability.

Calling `scrollIntoView` is outside of the scope of this polyfill since we're only trying to simulate the CSS feature `:focus-ring`.

[2017-11-09 19:04] robdodson commented on #65
I'm not sure I understand the issue :)

Are you saying that the polyfill is applying focus-ring when you click on a link or button with a mouse? Can you provide a reproducible test case that demonstrates the problem?

[2017-11-09 19:50] AndreasA commented on #65
The polyfill is only applying the style to input fields and only if you use key press like tab in that case.

However, according to documentation it should apply focus-ring always, even in case of mouse click to editable fields. The polyfill doesn't apply focus ring in case of mouse clicks here but it should.
On the other hand, it should instead apply focus-ring to all other elements on focus only

[2017-11-09 19:57] robdodson commented on #65
OK thanks I'll look into this. There were some recent changes which seemed to have broken some things. I'm working on a new selenium test runner to better catch these issues.

[2017-11-09 20:00] AndreasA commented on #65
OK. I just checked the latest version again and it seems to work correctly now. Maybe I was testing a buggy version before?

[2017-11-09 20:02] AndreasA commented on #65
Ah sorry, it was working with 2.0.2 but not with master there it is broken

[2017-11-09 20:02] robdodson commented on #65
ok good to know :)

[2017-11-09 20:05] AndreasA commented on #65
See also this jsfiddles:
broken: https://jsfiddle.net/yayrqksu/3/ (copied master into script)
working: https://jsfiddle.net/yayrqksu/2/ (copied 2.0.2 dist into script)

One small issue I noticed with v2.0.2 if you tab through both fields and then do another tab to go outside the textfield, in the jsfiddle and then click on the button, the button still receives the focus-ring class but otherwise v2

[2017-11-09 22:19] kloots commented on #54
@robdodson regarding:

It's still unclear to me _why_ we need to go back to the old behavior.

1. The special consideration for arrow keys is unique to **one** native control type: radio group. So, if we merge my PR we can check that off.

2. I still don't believe we _have_ to account for ARIA patterns as part of this project. We certainly _can_, but I disagree with your earlier concern that the p

[2017-11-10 06:51] robdodson commented on #54
Since `:focus-ring` is a pseudo-class, a developer would not be able to apply it directly. Most of the ARIA patterns I've seen that require keyboard navigation also suggest that home/end, pageup/pagedown be supported. Drawing the native focus indicator in response to a developer calling `focus()` after one of those keys are pressed in their custom control seems like a useful feature. There are als

[2017-11-15 04:39] robdodson opened #67 "TODO: Add tests for programmatic focus()"

[2017-11-15 05:51] #65 closed

[2017-11-15 05:54] robdodson opened #69 "TODO: Add greenkeeper"

[2017-11-15 20:01] robdodson commented on #69
Done :)

[2017-11-15 20:01] #69 closed

[2017-11-15 23:40] robdodson commented on #12
Fixed by #68 which tracks `:focus-ring` behavior. I also have a local copy that tracks `:-moz-focusring` behavior that i may add to this repo or stage separately.

[2017-11-15 23:40] #12 closed

[2017-11-15 23:41] robdodson commented on #44
Fixed on master.

[2017-11-15 23:41] #44 closed

[2017-11-15 23:55] robdodson commented on #46
I'd be interested in discussing how you'd like to implement this

[2017-11-15 23:55] robdodson commented on #54
The actual radio button issue should be fixed in #68. I'll open another thread to discuss adding Alice's show-focus-ring property and we can explore that work on a branch.

[2017-11-15 23:55] #54 closed

[2017-11-16 00:00] robdodson commented on #61
Should be fixed by #68. We've updated the guidance to recommend folks us:

[code]

because the behavior of `outline-width` is wonky. The `.js-focus-ring` class helps guard against the javascript failing to load.

[2017-11-16 00:00] #61 closed

[2017-11-16 15:55] YellowKirby commented on #46
I would imagine it would be similar to jQuery's [noConflict](https://api.jquery.com/jquery.noconflict/) method. Existing behavior would stay the same: focus-ring automatically binds listeners to `document` and adds the class to _any_ applicable element. However, when some API method is called (e.g., `FocusRing.scope(node)`) then any document-level behavior is removed and replaced with event listen

[2017-11-17 14:49] jeroencornelissen opened #76 "Change from 'const' to 'var'"
https://github.com/WICG/focus-ring/blob/f70c271888db99b6427ee77571e8fcaff085d196/src/focus-ring.js#L82

Can this `const` not be a `var` like all the other variables?

[2017-11-17 18:17] robdodson commented on #76
oops good catch!

[2017-11-17 18:18] robdodson commented on #76
Fixed on master. I'll put out a new 3.0.1 release :)

[2017-11-17 18:18] #76 closed

[2017-11-21 13:37] jeroencornelissen opened #79 "Change name of init function"
Isn't it a good idea to rename the `init` function to a less generic name like `initFocusRing`?
I have some other scripts with an `init` function and the focus-ring `init` overrides my init.

https://github.com/WICG/focus-ring/blob/8150e357e75bf9065a919b115ee9bd930d6a96bc/src/focus-ring.js#L4

[2017-11-21 17:24] rodneyrehm commented on #56
@robdodson since upgrading to 3.0.0 I'm getting this error again.

![screen shot 2017-11-21 at 18 20 01](https://user-images.githubusercontent.com/186837/33086780-fdbb909c-cee8-11e7-8624-2b714f5f5ded.png)

[2017-11-22 18:00] robdodson commented on #56
oh shoot sorry! I backed out some changes that had broken our tests and must have missed this fix. I'll add it back in. I'll also add a reminder to see if we can get our test suite to reproduce it.

[2017-11-22 18:04] robdodson commented on #79
Are you using `src/focus-ring.js` directly or the version in the `dist` directory? I believe the version in the `dist` directory should be wrapped in a self executing function that scopes everything.

[2017-11-22 18:21] #56 closed

[2017-11-22 18:28] robdodson commented on #56
Just published 3.0.2 which should contain this fix. Sorry about that! Please let me know if you hit any other issues.

[2017-11-22 18:28] robdodson opened #80 "TODO: Add test to catch IE null activeElement regressions"
See #56 for an example. It'd be good if we could have a test suite check for this.

[2017-11-22 19:42] jeroencornelissen commented on #79
Thanks, Rob!

[2017-11-22 19:42] #79 closed

[2017-12-07 21:42] OliverJAsh opened #88 "Show focus ring when returning focus or programmatically focusing?"
When a user closes a modal, focus is programmatically returned to the previously focused element. For example, this is the case when using react-modal.

In this case, should :focus-ring apply to the focussed element or not?

I guess the same question applies to anytime when an element is focussed programmatically.

My guess is that, if the element that focus is returning to had :focus-ring when it

[2017-12-12 20:33] robdodson commented on #88
This one comes up a lot. @marcysutton, @alice, what do y'all think?

My hunch is if the user used a keyboard to close the modal (pressing escape or focusing the close button and pressing enter/space) then when focus is returned it should match :focus-ring. However, if the user used a mouse to close the modal then when focus is returned it would not match :focus-ring.

[2017-12-12 20:38] marcysutton commented on #88
I'd agree with that. If you use the keyboard to operate UI controls, you'll need a focus state at all times. The user's input modality is the important part here, not whether it was programmatically focused–that's an implementation detail.

[2017-12-13 09:43] OliverJAsh commented on #88
Interesting, do you know if this is how the browser version of `:focus-ring` will behave? Or is it still under consideration?

[2017-12-19 00:59] alice commented on #88
I would agree with Rob and Marcy's comments.

Re browser implementations, the [spec](https://drafts.csswg.org/selectors-4/#the-focusring-pseudo) deliberately doesn't specify when the pseudo-selector should match, so it'll be up to the browsers to decide.

[2017-12-19 14:58] OliverJAsh commented on #88
Do you think this polyfill should move forward with the proposed behaviour, or does it need to wait?

[2017-12-19 19:12] robdodson commented on #88
I think the way the polyfill works today (latest version, at least) is if the user closes the modal via a keyboard action, the next element to receive programmatic focus would match :focus-ring.

[2017-12-27 16:55] ryuran opened #95 ":focus-visible"
The `:focus-ring` pseudo class seems to be renamed to `:focus-visible` https://drafts.csswg.org/selectors-4/#the-focusring-pseudo
https://github.com/w3c/csswg-drafts/pull/2104

I think this plugin should be updated on this way.

[2017-12-27 18:58] nicolasparada commented on #95
https://github.com/WICG/focus-ring/pull/90

[2017-12-28 19:36] robdodson commented on #95
Yep we're aware of this. Just need to sit down with alice after the holidays and sort through all the steps. We should be able to do this right after new years.

[2018-01-04 18:19] OliverJAsh commented on #88
@robdodson I just tried this and I don't think it does work that way currently.

Here is a demo: https://stackblitz.com/edit/wicg-focus-ring-test-programmatically-focusing

Clicking `moveFocus` button programmatically focuses the `foo` button.

When actioning `moveFocus` with the keyboard, I would expect `foo` to receive the `focus-ring`, but it does not.

[2018-01-09 19:57] joe-watkins opened #101 "Changed name from focus-ring to focus-visible"
https://drafts.csswg.org/selectors-4/#the-focusring-pseudo

Looks like some naming might need to be updated as a result of this change?

[2018-01-09 20:15] nicolasparada commented on #101
https://github.com/WICG/focus-ring/pull/90

[2018-01-30 14:31] jeroencornelissen opened #115 "Focus-ring is visible after switching browser tabs"
If you switch browser tabs, with the mouse or keyboard. The JS will add a `focus-visible` class and `data-focus-visible` attribute.

To me and our users, this is unexpected behaviour. What do you think?

Replicate by clicking the `div` with `tabindex="0"` on the [demo page](https://wicg.github.io/focus-visible/demo/). Now, no focus-ring is visible. Switch browser tabs. And when you switch back, th

[2018-02-04 16:25] Justineo commented on #88
It seems that programmatically focused elements are not receiving `focus-visible` by any means currently. In fact I think such elements should **always** be `:focus-visible` because even if they are focused from a mouse event, the focused element and the one being clicked may not always the same. People may be using mouse and keyboard at the same time, like open a dialog by clicking a button, and

[2018-02-05 14:38] jeroencornelissen commented on #115
Any thoughts on this?

[2018-02-05 20:21] robdodson commented on #115
I can look into this. I thought we fixed this a while ago tbh... I need to write a selenium test for it

[2018-02-05 21:15] robdodson commented on #88
@OliverJAsh I think i found the issue.

https://github.com/WICG/focus-visible/blob/master/src/focus-visible.js#L82-L88

That has a list of accepted keys for moving focus. I think we added that for a previous radio group issue. Let me dig into this a bit more to see if we actually want to keep that array around.

[2018-02-05 21:28] robdodson commented on #88
ah yes... the reason we limit it to a known set of keys is because folks were complaining that their web app's keyboard shortcuts (like cmd-b to open a sidebar or something) were triggering keyboard modality and they didn't like that.

Having spent some time digging around in Chromium recently, I now know that Chromium doesn't check _which_ key was used to move focus, [it just checks to see if a m

[2018-02-05 21:37] robdodson commented on #88
Actually we may need to do some additional work to fully match what @Justineo was describing. If you use a mouse to click an element that calls focus on another element, we need that other element to match `.focus-visible` as well. Otherwise you end up with behavior like this, which I think is just weird (i'm using spacebar to press the other button because mouse clicking the first button calls fo

[2018-02-05 22:46] robdodson opened #116 "Pressing a key if an element is focused should apply .focus-visible."
For example. Today if you mouse click on a `<button>` then press the shift key, it will suddenly show a focus ring.

[2018-02-06 03:48] Justineo commented on #88
@robdodson, yes that's indeed the problem I've been suffering from. Programmatically focusing an element indicates that the focus has moved away, in this case `:focus-visible` will be really helpful.

And recently I found that in Firefox and Safari, mouse clicks on `<button>`s won't move the focus to them. Instead, after the clicks, `document.activeElement` remains to be `<body>` (see [here](http:

[2018-02-06 16:18] robdodson commented on #116
Testing in Chrome, Firefox, and Safari, it looks like only Chrome has this behavior. Gonna close as it's not consistent and somewhat obscure.

[2018-02-06 16:18] #116 closed

[2018-02-06 16:24] robdodson commented on #88
As you mentioned, I also think this behavior is interesting but weird and kinda wrong. If I mouse click on something then I assume it's focused and that I can also press spacebar to click it again. Either way, I don't know if we'd be able to change the way `:focus` matching works in Chrome without getting a flood of folks complaining that we broke their site. The hope with `:focus-visible` is to a

[2018-02-06 21:20] robdodson commented on #115
OK, digging into how each browser handles focus moving in and out of the page. They're all different, making it hard to fix this. Jotting down my notes as I work on this.

**Chrome**
Open new page
* If the first thing you click is the element, it will fire focus once, on the element.
* If you click the document it does not fire focus.
* It does not fire a visibilitychange event.

Change to new tab

[2018-02-07 02:51] robdodson commented on #115
Upload a PR to fix this :)

[2018-02-07 02:52] #101 closed

[2018-02-07 02:52] #95 closed

[2018-02-07 05:55] Justineo commented on #88
I prefer `:focus-visible` over the current behavior of Firefox/Safari (which seems to be a hack to somehow mimic the visual effect of Chrome's behavior) because the later one introduced side effects on user interaction as @robdodson just mentioned.

Let's get back to the current issue on the polyfill. The current implementation only works if the target element is focused via navigation keys like <

[2018-02-07 07:47] #115 closed

[2018-02-07 16:25] robdodson commented on #88
Yeah I plan to ship a fix for this today. I was working on [another PR](https://github.com/WICG/focus-visible/pull/117) yesterday that I wanted to land first.

[2018-02-07 19:47] robdodson commented on #88
Hoping this PR fixes the issue: https://github.com/WICG/focus-visible/pull/118

[2018-02-07 19:50] robdodson commented on #88
Also want to share a link to a comment to something somewhat related: https://github.com/WICG/focus-visible/pull/64#issuecomment-363877207

[2018-02-07 19:54] robdodson opened #119 "TODO: Make flaky tab switching tests less flaky"
Currently they're set to `.skip()` cuz they rely on weird sleep timers that don't work well on Travis.

[2018-02-07 19:55] robdodson commented on #67
Fixed by #118

[2018-02-07 19:55] #67 closed

[2018-02-07 22:48] robdodson opened #120 "TODO: Should mousedown cancel hadKeyboardEvent"
Could we get rid of all this code if mousedown, touchstart, and pointerdown cancel hadKeyboardEvent? https://github.com/WICG/focus-visible/blob/master/src/focus-visible.js#L168-L190

[2018-02-07 22:59] robdodson commented on #88
bah! I realized the PR only solves the issue if a keyboard was used. Gotta think a bit more how to do this for a mouse...

[2018-02-08 03:32] Justineo commented on #88
Yep. That's why I proposed to only exclude focuses following a pointer event (`mousedown`, `touchstart`, ...) instead of looking for those following a keyboard event.

[2018-02-08 03:38] Justineo commented on #88
And we have to check if the focused element is the same as the one received the pointer event earlier. If not, it may be programmatically focused or some native mechanisms which changes focus, like focusing an `<input>` after clicking a `<label for="...">`.

[2018-02-08 19:12] robdodson commented on #88
Yeah I'm not sure if that would solve this either. If, for instance, we set a flag on mouseDown that signals to the system to not apply focus-visible someone could do:

[code]

[2018-02-08 21:38] robdodson commented on #88
i think i have a fix for this...

[2018-02-10 00:04] robdodson commented on #120
Fixed in #118

[2018-02-10 00:04] #120 closed

[2018-02-10 00:29] robdodson commented on #88
After talking with Alice and Marcy about this, I think we arrived at a bit of an impasse.

To recap,

Option 1: If a user mouse clicks (or touches) something that moves focus, we still consider them in "mouse modality", and don't apply focus-visible to the new element.

Option 2: We always _apply_ focus-visible when `focus()` is called, so the user can clearly tell where focus is.

Per earlier dis

[2018-02-10 01:21] alice commented on #88
Agreed: the spec is deliberately vague so that we can ship with "good enough" behaviour, and tweak over time.

In my opinion we should err on the side of **not** showing a focus ring if in doubt, as in the short term users can force it to show via hitting a key on the keyboard, and hopefully in the medium term we will provide hooks for developers to force it to show.

[2018-02-10 02:35] Justineo commented on #88
As the spec allows UAs to decide whether the focus should be “visible”, I think mobile browsers can just choose to not match `:focus-visible` under such situation. Our earlier discussion may be just based on desktop browsers (at least for me). On the polyfill side I'm not sure if we can apply UA detection (or based on some heuristics like screen sizes) to achieve this.

[2018-02-10 03:02] Justineo commented on #88
In my opinion, if keyboard navigation is **unavailable**, visual hint for current focus doesn't make much sense because next navigation can only be from another pointer event. Otherwise, we cannot predict next navigation is from pointer or keyboard. In this case, `:focus-visible` does make sense and should be matched when the focused element is not the previously interacted element from a pointer

[2018-02-12 01:49] alice commented on #88
Agreed.

I disagree. I think we should only match `:focus-visible` in situations where we have some level of confidence that a keyboard *is* about to be used - i.e. if the user just used a keyboard, or is using a control which requires the use of a keyboard.

[2018-02-12 04:29] Justineo commented on #88
User's input modality can be mixed. eg. with one's right hand on the mouse and left hand on the keyboard. If not visual hint indicating that keyboard navigation **is available**, one may never be aware of this. For those keyboard navigation is just optional, not matching `:focus-visible` may stop them from using keyboard in the first place (while keyboard + mouse may greatly improve efficiency, es

[2018-02-13 03:48] Justineo commented on #88
Emm...I think we might need a way for developers to explicitly specify the behavior. Different users may feel differently on the same behavior, one may feel fluent on the workflow and another may feel confused. In the end it depends on what kind of product we are to develop. @alice I think your earlier proposal in #42 may be able to solve the problem.

[2018-02-13 03:58] alice commented on #88
Completely agreed, I think we should err on the side of *not* showing a focus ring, and allow developers to opt in.

Obviously it would be great to make it so developers never need to override the default behaviour at all, but I think we should have a goal of trying to avoid false positives and accepting false negatives which we can fine-tune more over time.

[2018-02-13 04:26] Justineo commented on #88
The problem here is I don't know any CSS property which can modify a pseudo selector's behavior at the moment and this may not fit in the current cascading process (correct me if I'm wrong). Not sure if it's possible/willing for browsers to ship this kind of feature. One concern is this may be problematic if we give something like:

[code]
or
[code]

[2018-02-16 15:53] jeroencornelissen commented on #115
@robdodson can you release this to npm?

[2018-02-16 21:23] santos22 opened #124 "React usage"
Is there a way to use focus-visible in a React application?

I've installed through yarn and tried the following but cannot access any of the functions:
`import * FocusVisible from 'focus-visible';`

[2018-02-20 20:45] robdodson commented on #115
yep! sorry i was out on vacation :)

[2018-02-20 21:03] robdodson commented on #115
Should be fixed in the 4.1.0 release

[2018-02-20 21:04] robdodson commented on #124
Hey @santos22

Because this is a CSS polyfill there aren't any functions to access. I'd recommend just including the focus-visible script in your bundle (maybe even just using a script tag for it?). After that you should be able to leverage the .focus-visible class.

[2018-02-22 18:49] robdodson commented on #124
@santos22 did my response help at all?

[2018-02-22 19:02] santos22 commented on #124
Hey @robdodson

Sure did, thanks! I will try to use the following as a reference: https://github.com/TheFullResolution/temperature-graph

[2018-02-22 19:34] robdodson commented on #124
cool, glad you got it sorted.

[2018-02-22 19:34] #124 closed

[2018-02-27 23:01] arturi opened #126 "Bundling in a widget, scope"
Hi, and thanks for the awesome polyfill! I’m thinking of using it in Uppy file uploading widget http://github.com/transloadit/uppy I’m working on, and was wondering if you think an option to add scope would be a good idea?

1. Option to specify a container element, so that `.focus-visible` will only be added to elements inside that container; Then `.js-focus-visible` could also be added to that co

[2018-02-27 23:31] alice commented on #126
This seems like a good idea. Could we have a kind of "registry" for container name -> custom class name, so that multiple widgets could use it? How would you specify these options to the library?

[2018-02-27 23:36] alice commented on #126
(Also your widget looks great, and has a great logo!)

[2018-02-27 23:48] robdodson commented on #126
Also mentioned in https://github.com/WICG/focus-visible/issues/46

I actually have mixed feelings on this idea. I might lean a bit more toward not encouraging libraries to bundle their own version of the polfyill, but to instead inform the page author that the polyfill is required to use the library. That avoids the situation where multiple components are trying to scope or change the name for the

[2018-02-27 23:58] alice commented on #126
Hm, I think as long as components can avoid stomping on each other and the main page (hence the "registry" idea), it's not too bad.

Obviously for the real pseudo-selector this won't be possible, but I can understand wanting to keep things scoped while using the library.

[2018-02-28 00:21] robdodson commented on #126
yeah that's reasonable

[2018-03-01 00:35] arturi commented on #126
Thanks! :)

Yeah, I understand this is intended as a polyfill, but the way it currently works is it’s adding classes to elements, not pseudo-classes, and when this functionality is actually implemented in browsers it will be different, so can’t just remove the polyfill like with Promises or Fetch.

From my standpoint I can either bundle it with Uppy as external dependency (if I can add scope, beca

[2018-03-01 03:51] alice commented on #126
I was thinking more like
[code]
then in the library
[code]

You could have more than one element "decorated" in the document, but they don't need to know about each other.

I'm not sure how to have the current "auto init in global mode" functionality coexist with this, though.

[2018-03-10 18:52] JuliannaR opened #128 "Focus indicators"
Having different focus indicators for mouse and keyboard users is going to be very confusing. More specifically for users with low vision or cognitive impairments or learning disabilities. It is very problematic. Focus indicators need to be presented in a consistent way.

I think there are several usability and accessibility issues with most of the demoed options here.

Common WCAG 2.0 AA failures

[2018-03-10 21:29] alice commented on #128
Hm, I'm not sure these apply.

We don't actually remove focus, we just remove focus styling when it seems likely that the user will not need to know that focus has been moved (i.e. when the user is using a mouse). The element is still focused.

2.4.7 states "Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible", which this clearly provides: as

[2018-03-10 21:42] robdodson commented on #128
Hey @JuliannaR thanks for bringing these points up. I don't know if we've explained the intent behind this pseudo class well enough (I was actually working on that a bit this week). Sorry this turned into a bit of a blog post!

Our goal is to make sure that anyone who needs a focus indicator has one. We think in order to do this, we have to address the problem in two phases:

1. Stop the very comm

[2018-03-11 14:07] JuliannaR commented on #128
@robdodson & @alice I think its one of these cases that to reduce reckless behaviour the choice gets made for us. Under the Cognitive Gap Analysis there is a lot that could not even be brought into WCAG 2.1. Things like an inconsistent focusing method might actually have a significant negative impact on members of that disability group. Assuming that because a user used a mouse action means that t

[2018-03-11 14:11] JuliannaR commented on #128
Also, how would this work with sip and puff technology, switches, and voice rec navigation?

[2018-03-11 14:27] robdodson commented on #128
Still working on a follow up to your previous comment but wanted to quickly respond to this one:

I need to look into how Chromium categorizes all of these input methods to give a definitive answer. But off the top of my head I'd say that I'd like all of these to fall under the same umbrella as keyboard focus, so they would all trigger a focus indicator/match `:focus-visible`.

[2018-03-11 14:35] JuliannaR commented on #128
@robdodson  Thank you for your willingness to engage and discuss this topic. For me it's an important one.

[2018-03-12 03:07] alice commented on #128
@JuliannaR Thanks for the follow up, I definitely understand where you're coming from.

A couple of thoughts:
- This project arose from trying to answer the question of "why do developers disable the focus ring?" - its goal is explicitly to try and *increase* the frequency with which the focus ring appears *for keyboard users*.
   - We believe that developers disable the focus ring altogether beca

[2018-03-12 17:26] robdodson commented on #128
To echo Alice's points, and respond to a few of your comments:

As Alice mentioned, our goal is to have a similar option as ChromeOS to force an always-on focus indicator. This option would likely need to be opt-in by the user.

But we don't want to solely rely on this option. We also want to improve the status quo of focus states on the web. That means addressing the unintended side effects cause

[2018-03-16 03:27] Justineo commented on #88
@robdodson @alice

I noticed Chrome Canary recently shipped `:focus-visible` behind a flag. Now it looks like both Chrome's `:focus-visible` and Firefox's `:-moz-focusring` matches elements focused programatically, no matter what device triggers it. See https://jsfiddle.net/gwjsd8qc/.

Regarding the polyfill, I still think it's better to match programatical focus **BY DEFAULT** because it wouldn't

[2018-03-22 17:59] MattSidor commented on #124
@santos22 Can you elaborate on how you imported this library into your React app?

[2018-03-22 18:05] santos22 commented on #124
Hey @MattSidor,

I actually wasn't able to but I did manage to see how others were doing so by searching on GitHub. Check this repo out, hope it helps! https://github.com/TheFullResolution/temperature-graph

[2018-03-22 19:02] MattSidor commented on #124
Sorry @santos22, I'm still confused. I see a library there for making a temperature graph with React, but I don't see how it's relevant to this question.

[2018-03-22 19:07] santos22 commented on #124
Hey @MattSidor,

Check out - https://github.com/TheFullResolution/temperature-graph/blob/master/src/index.js#L3

[2018-03-22 19:30] MattSidor commented on #124
Ah okay, so the solution is to point directly to the file in the `dist` folder instead of just naming the package. Also, we have to make sure to import the library in App.js before any other libraries (e.g. React, ReactDOM) are loaded.

    import "focus-visible/dist/focus-visible.js";
    import React, { Component } from "react";
    ...

[2018-03-23 13:19] iandevlin opened #131 "Input fields adding focus-visible on click"
Hi, I noticed that on Chrome and Firefox at least, the `focus-visible` class gets added to `textarea` and `input` fields even when the user uses the mouse to get focus.
Is this expected behaviour? I would've thought not but I may have missed something.

(It happens on the demo page: https://wicg.github.io/focus-visible/demo/)

[2018-03-23 16:34] robdodson commented on #131
Yes it's expected behavior, meant to match the way that the browser works today. For instance, if you mouse click a `<button>` in Chrome it will not draw a focus indicator, but if you mouse click a `<input type=text>` it will. I believe the basis of this assumption is that for any area where it's assumed the user is going to provide keyboard input, the browser will draw a focus indicator.

In [the

[2018-03-23 17:16] iandevlin commented on #131
Ok cool, thanks very much for the explanation. That went past me for some reason, I assumed that they would all act the same.

[2018-03-23 17:16] #131 closed

[2018-04-05 17:12] jmclulus opened #135 "checkbox label focus"
This seemed to make my day, works great for all my elements... except the checkboxes.  I have the actual checkboxes styled away off the screen with labels containing a simulation of a styled checkbox.

I use CSS to show the focus outline on the label when the checkbox itself has focus, but it is showing up whether I use the keyboard or not...

[code]

[code]

Any thoughts on how I could adapt the

[2018-04-05 17:34] jmclulus commented on #135
The solution was changing `&:focus` to `&.focus.visible` and now it works great.

[2018-04-05 17:34] #135 closed

[2018-04-05 17:58] robdodson commented on #135
Glad you got it sorted, and glad the polyfill is solving problems for you :)

[2018-04-05 22:19] mraccess77 commented on #128
I have concerns about this technique for users like myself with low vision.  I often switch between input modalities such as by clicking and dragging off a button to set focus somewhere then use the keyboard to navigate from there.  I may click on a radio button and then use arrows to select other radio buttons. I will switch between touch, mouse, keyboard, and many other settings such as large te

[2018-04-07 19:52] mraccess77 commented on #128
Right now if you use the keyboard and then touch the screen to scroll or pinch zoom on my touch screen laptop or use control+scroll on the mouse the indication of keyboard focus stays visible.  This is good and I would want to ensure that this scenario is captured as the intended behavior.

On a separate note -- I did try the shift or control trick after clicking and moving off a button and the in

[2018-04-07 23:44] alice commented on #128
The NVDA issue sounds like a great use case for a browser preference (or possibly even an automatic setting to match `:focus-visible` if assistive technology is running, although that does run into issues with screen reader detection using `:matches`).

[2018-04-09 17:10] mraccess77 commented on #128
NVDA is calling .focus()

[2018-04-23 10:29] rasmuslundberg commented on #80
We have encountered problems with this in some recent work. Any ideas how to fix, are there plans to fix this?

[2018-04-25 23:44] robdodson commented on #80
For what it's worth, I just ran our tests in SauceLabs against IE11 and they all passed. But the tests themselves may not be recreating the same scenario that y'all are hitting.

[2018-04-30 17:04] robdodson commented on #80
@madou @rasmuslundberg just checking in, have either of you been able to log e.target?

[2018-05-12 22:37] Agamnentzar commented on #80
Got this error in my error reporter. I managed to reproduce it by tabbing into an `SVG` element, since it doesn't have `classList` property. For some reason on IE11 `onFocus()` callback receives `SVG` element inside a button instead of the button element itself.

[2018-05-14 18:47] robdodson commented on #80
@Agamnentzar ah thank you! I'll add a test for this.

[2018-05-14 23:33] OwenEdwards opened #141 "Could the example CSS also be part of the package (in NPM etc.)"
I'm using the current version of focus-visible in a [demo together with the video.js framework](https://github.com/OwenEdwards/video.js/tree/experimental/use-focus-visible-package). I [reference the focus-visible.js script](https://github.com/WICG/focus-visible#1-add-the-script-to-your-page) from my HTML, but I need to add the [example CSS](https://github.com/WICG/focus-visible#2-update-your-css)

[2018-05-15 15:00] robdodson commented on #141
I wouldn't say that snippet is necessarily part of the core polyfill, I tend to think of it as one suggested way to use the polyfill. If we were to move the demo css into a standalone file, we would probably move [all of it](https://github.com/WICG/focus-visible/blob/master/demo/index.html#L6-L34), not just that one snippet.

I'm kind of leaning 'no' just because it feels like an unnecessary file

[2018-05-15 23:25] OwenEdwards commented on #141
@robdodson I understand what you're saying, although the `js-focus-visible` class *is* specific to this polyfill. So that one CSS rule is very much tied to this polyfill (it appears twice in the README, and could easily be used in `demo/index.html`; indeed the reason a different CSS rule is used in the demo isn't explained). Wouldn't making it a "file to keep track of" give consistency to the reco

[2018-05-16 01:12] #141 closed

[2018-05-16 03:53] OwenEdwards commented on #141
Okay, well that really doesn't fix this question, but I guess the answer is 'no'?

[2018-05-16 04:47] robdodson commented on #141
Sorry for not following up. Alice and I discussed it and decided against creating a standalone css file because folks may choose to do something different with the snippet. For instance, disabling the default focus indicator and then adding a more noticeable one just for keyboard focus. I should have replied before closing the issue.

[2018-05-16 14:50] robdodson commented on #80
@Agamnentzar can you share the mark up for the button? I'm trying to reproduce it in IE11 but not seeing the focus move to the SVG element. Here's the demo I'm using.
https://jsbin.com/sedugin/3/edit?html,output

[2018-05-16 14:57] Agamnentzar commented on #80
It has to be inline SVG element: https://jsbin.com/jefitacebe/1/edit?html,output
In this example the focus actually seems to go to button first but then to the SVG inside it.

[2018-05-16 15:11] robdodson commented on #80
ah, perfect thank you! That's such a strange behavior for IE11 to have, haha. OK let me see if I can write up a fix.

[2018-05-16 15:19] fstorr commented on #80
This is a known bug with IE11. The fix is to add `focusable="false"` to the `<svg>` element.

[2018-05-17 14:38] greenkeeper opened #145 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/WICG/focus-visible/compare/master...WICG:greenkeeper%2Fupdate-to-node-10">

[2018-05-21 19:07] OwenEdwards commented on #141
@robdodson:

That would make a great demo too. You mention something like that in the README - it would make sense to add a demo of it to the demo directory. Just a suggestion!

[2018-05-23 16:50] robdodson commented on #141
Good call. Yeah we should be able to get something in there which shows providing an awesome alternative focus style.

[2018-06-01 03:38] michax opened #148 "Shift renders focus ring"
During testing I've noticed that that shift press alone activates focus ring. It doesn't seem like correct behaviour. I would expect it to only appear after tab or tab + shift.

[2018-06-05 18:03] robdodson commented on #148
Hey @michax, we currently turn on focus-visible anytime a user presses any keyboard key. Our thinking is that this is a signal that the user is in "keyboard mode." Can you tell me a bit more about what you were building that caused you to see this as an error? We're always interested in use cases to help us shape the design.

[2018-06-19 18:07] plinehan opened #151 "Handling `:focus-within` equivalent."
Is there any plan to handle the equivalent of `:focus-within` for the `:focus-visible` pseudo-selector in the CSS spec?  Something like `:focus-visible-within`?

I modified [my version of] the script to add the `focus-visible` class to the body whenever focus is visible.  Then I can write a selector like `body.focus-visible foo:focus-within` to style `foo` when focus is visible within it, but I do

[2018-06-19 19:01] plinehan commented on #148
Just chiming in, but shift (or any keyboard event) also causes Chrome's default focus ring to appear, as well.

Personally, it seems somewhat aggressive.  Consider the case where a user is mouse-navigating and then starts entering a keyboard shortcut, e.g. MOD-A to select all text.  The focused element becomes highlighted at the start, the second MOD is pressed.  For someone who hasn't been using

[2018-06-19 19:08] robdodson commented on #148
I agree that it may be a bit aggressive. @alice and I were chatting about it this past week. It's unclear (to me at least) if the current behavior was a conscious decision by the Chrome team, or if it's merely a side effect of how focus ring drawing is implemented. Neither Firefox nor Safari has this same behavior, but if I recall correctly, they also don't technically _focus_ the button when you

[2018-06-19 19:10] robdodson commented on #151
That is a great question, and yeah, I don't know how you would do this without something like `:focus-visible-within`. I'll add this as a note for @alice and I to discuss when she gets back from vacation. Thanks for filing it!

[2018-06-19 19:31] robdodson commented on #88
To circle back on this...

@alice is working on updating our implementation so it takes into account what mode the user was in when programmatic focus was triggered. If the user was in "keyboard mode", then `:focus-visible` would match. Otherwise, if the user was in mouse or touch mode, it would not.

We were strongly motivated to go in this direction after discovering a use case that current :foc

[2018-06-19 19:34] robdodson commented on #42
Just a quick update, see the last part of this comment for details.
https://github.com/WICG/focus-visible/issues/88#issuecomment-398518020

[2018-06-19 20:34] plinehan opened #152 "`focus-visible` class is not applied when using a screen reader."
When navigating with a screen reader, e.g. when pressing CMD-OPT-RIGHT in VoiceOver, the `focus-visible` class is not applied.  The problem is that `onFocus` sets `hadKeyboardEvent = false` so the subsequent focus (with no intervening keydown event, because the screen reader swallowed it) doesn't realize the user is still using a keyboard.

This is different from the default behavior on Chrome.

[2018-06-19 20:51] robdodson commented on #152
I wonder if we can remove this line (https://github.com/WICG/focus-visible/blob/master/src/focus-visible.js#L135). Currently we start the polyfill with `hadKeyboardEvent = true` and flip it to `false` if we hear any kind of pointer event. Maybe it would be best to just always leave it in keyboard mode, instead of turning it off after every focus. I'll give it a shot and see if it breaks any tests.

[2018-06-19 23:07] robdodson commented on #42
Per Alice's earlier comment about styling the focus ring to match the platform default. It seems like you can _kind of_ do this today, using `outline: auto`, but it doesn't get the color right.

[code]

![image](https://user-images.githubusercontent.com/1066253/41628520-c3bf6b8e-73d9-11e8-90ce-4b0f7456e971.png)

To recreate the specific color used in Chrome requires using `-webkit-focus-ring-color

[2018-06-20 00:01] Justineo commented on #42
Even if we are gonna do this it should be a new keyword instead of a **custom** property IMO.

[2018-06-20 00:03] robdodson commented on #42
I noticed Chrome's stylesheet uses a single dash `-webkit-focus-ring-color` and not the double dash syntax for custom properties, `--webkit-focus-ring-color`. I'm curious if browsers have the notion of a variable that's public but not configurable.

[2018-06-20 00:36] Justineo commented on #88
@robdodson Thanks for the update. In our real cases I found it’s hard to use simple heuristics to solve all scenarios. Automatically match `:focus-visible` according to users’ input modalities is good in most cases (hide focus indicators for pointer events and show them on keyboard navigation), while in certain cases input modalities can be mixed. A typical case is a modal dialog which I mentioned

[2018-06-20 00:46] bkardell commented on #42
They are the same syntax actually. -vendor- has always been the model.  Custom properties created be the author just have no vendor.

[2018-06-20 01:10] Justineo commented on #42
Custom preoperties(aka “CSS variables”), as the name says, are properties which require `var()` to call the values. `-webkit-focus-ring-color` is just a value keyword with a vendor prefix, not a “variable”. I think using `revert` should be the most proper way to restore the UA style but before it’s implemented in Chrome something like `-webkit-focus-ring-color` is also acceptable.

[2018-06-27 00:31] alice commented on #151
Agreed, this is a great question.

What is the use case which motivated you to make this change in your fork of the script?

[2018-06-27 17:06] plinehan commented on #151
They are almost all cases where we have an input and a set of associated buttons (e.g. a search input box and a "search" button) and we'd like the focus to be around the outer container.  I think in most of these we could just use `focus-within` since the input is always focus visible, but I can imagine cases it would be nice to detect if the search button was visibly focused or not.

We have a fe

[2018-06-27 21:53] alice commented on #151
Good use case, thanks!

This is annoyingly making me think about modality again, like the original idea @bkardell had... it seems wacky to have `:focus`, `:focus-within`, `:focus-visible` and `:focus-visible-within`.

Will keep thinking about it.

[2018-06-29 06:37] sampotts commented on #126
Has there been much progress on this? I'm in the same boat, wanting to add it to https://github.com/sampotts/plyr to help with this issue: https://github.com/sampotts/plyr/issues/905

[2018-06-29 14:55] robdodson commented on #126
No progress yet. We're open to a PR and would be glad to walk folks through
it. We just haven't had a chance to get to it ourselves.

On Thu, Jun 28, 2018, 11:37 PM Sam Potts <notifications@github.com> wrote:

[2018-06-30 00:45] sampotts commented on #126
OK sure I'll take a look and try and get a PR together 👍

[2018-07-11 04:08] marcysutton commented on #128
Such a great discussion here, thanks everyone for recording your insights. There was a [similar conversation](https://twitter.com/stommepoes/status/1012037384907771905) a few days ago on Twitter about a related tool, [What Input](https://github.com/ten1seven/what-input), which is prior art for `:focus-visible`. Questions arose about how focus intents should be handled for voice interfaces like Dra

[2018-07-11 04:31] alice commented on #128
@marcysutton Thanks for the follow up!

I agree, a user preference seems ideal. I made a note of this in my PR to the Selectors Level 4 Overview: https://github.com/w3c/csswg-drafts/pull/2897/files

It looks like Dragon possibly doesn't go via the usual accessibility APIs, as far as I can tell without trying things out.

[2018-07-18 10:06] thibautRe opened #162 "Integration with focus-lock solution"
Hello,

First of all, great work on the polyfill!

I encountered an inconsistency when using a [focus locking](https://github.com/theKashey/react-focus-lock) solution. (If you're not familiar with it, it's a helper that contains the focus in one div, useful for modals or focused tasks).

The issue I have is that the class `.focus-visible` is not put to the element when the focus-lock loops the foc

[2018-07-18 23:30] robdodson commented on #162
Hey! Unfortunately Im out for the next week on vacation. Maybe @alice can
take a look if she is free this week. Otherwise I can look into it when I
get back.

Thanks for opening the issue!

On Wed, Jul 18, 2018, 3:06 AM Thibaut <notifications@github.com> wrote:

[2018-07-19 03:42] alice commented on #162
Looks like this is related to programmatic focus - cf https://github.com/WICG/focus-visible/issues/88#issuecomment-398518020

This is why we originally had the "keyboard throttle" in the implementation - perhaps it's time to reintroduce that.

[2018-07-24 17:33] renojvarghese opened #163 "How to import the init function from focus-visible? Can it be a module?"
Hi. I was wondering how I could import just the init function.  I am using this polyfill as a node module, and I have some things that need to be checked before utilizing the focus-visible polyfill. I was looking for a module.exports, but could not find one in the src code

[2018-08-04 00:03] #80 closed

[2018-08-04 00:41] robdodson commented on #163
We did not structure the original polyfill as a module, but with the widespread support of ES Modules we should probably update it to be one.

A temporary workaround if you don't feel like modifying the source would be to include the script async using a bit of JavaScript.

[code]

[2018-08-04 00:59] robdodson commented on #162
I think this should be fixed on master. In the current version, we always leave keyboard mode 'on' unless you take an action with a mouse. So if focus was proceeded by a keypress, it should still be in keyboard mode and should still apply `.focus-visible`.

Let me see if I can cut a release today. I was updating a vulnerable npm package anyway so may as well :)

[2018-08-04 01:40] jamesplease commented on #124
Just a heads up: this doesn't work with React, so don't be tricked into thinking that they are compatible!

React will pave over [these DOM manipulations](https://github.com/WICG/focus-visible/blob/7281617ddbed85896731794a6232bad7e1455ffc/src/focus-visible.js#L79), so at best you can use this polyfill in _limited_ situations in a React app, but generally I wouldn't advise using them together.

[2018-08-04 02:04] robdodson commented on #162
I tested your sandbox demo using the latest release (4.1.5) and it seems to work. I double checked that it did not work in 4.1.4 so I think [this change](https://github.com/WICG/focus-visible/commit/e62d59cb17ba20f5b782010a7870c6fcbaf6acd6) in the latest release is the source of the fix.

Closing as fixed but please comment if it still seems busted and we can investigate!

[2018-08-04 02:04] #162 closed

[2018-08-04 13:01] thibautRe commented on #162
Great, it seems to work fine. Thanks!

[2018-08-06 21:06] renojvarghese commented on #163
Thanks. Works well, but I ended copying and pasting the init function into my own js file. Really enjoyed this polyfill. It was exactly what I was looking for in that I didn't have to decide between one user experience over another

[2018-08-06 23:09] robdodson commented on #163
Glad to hear it helped! I'll leave this issue open and edit the title so we know to come back and work on an exportable module.

[2018-08-07 11:36] renojvarghese commented on #163
Mind if I take a stab at it? I think I might know how to do it such that it will work in both the browser and as a node module

[2018-08-07 16:35] robdodson commented on #163
@renojvarghese sure thing! Maybe you were thinking the same thing, but we'd want it to be an ES Module so folks could use standard `import` to pull it in.

[2018-08-07 16:49] robdodson opened #167 "Update explainer heuristic. Consider ignoring meta, alt/option, control keys."
## Current behavior

This is currently what's in the explainer [example heuristic](https://github.com/WICG/focus-visible/blob/master/explainer.md#example-heuristic)

The above snippet does not match the polyfill or the experimental implementation in Chrome—both of which turn on keyboard modality if focus was proceeded by _any_ key press (including meta and modifier keys).

## Proposed behavior

@a

[2018-08-07 22:52] alice commented on #167
I think that example heuristic text looks good :+1:

I can work on updating the Chrome native implementation and adding some WPTs.

[2018-08-08 00:11] renojvarghese commented on #163
@robdodson ^^^ Is this what you mean?

[2018-08-09 23:29] robdodson commented on #163
Hi @renojvarghese, sorry for my total lack of oversight, but I just realized that we're already exporting the distribution of focus-visible with a module friendly wrapper (look at the source for dist/focus-visible.js).

Also, to better answer your original question... rather than importing the init function, I would recommend dynamically importing the entire module. You can do this with ES modules

[2018-08-09 23:29] #163 closed

[2018-08-13 18:29] renojvarghese commented on #163
@robdodson I see what you mean. I checked the code in this repo, but not the node_module. Loading focus visible on a condition is better. Thanks for the explanation :D

[2018-08-31 07:42] tinymachine opened #179 "Conflict with how Vue handles class bindings, and potential workaround"
In Vue 2.5.17, when I [bind classes](https://vuejs.org/v2/guide/class-and-style.html#Object-Syntax) to an element that can receive focus, Vue appears to overwrite the `.focus-visible` class added by this polyfill. Thankfully the `data-focus-visible-added` attribute is also added by the polyfill, and that attribute is left untouched, so a workaround is simply to change the [CSS rule recommended in

[2018-09-01 16:36] robdodson commented on #179
I think we can add that as an additional option to the README. The attribute is really an implementation detail, we use it to detect if the class was added by the polyfill (instead of manually by the author).

As much as possible we'd like folks to just use the class but I totally understand why that won't work in this case. I'll add a note to the README.

[2018-09-01 16:44] robdodson commented on #179
Added a PR over in #180. Thanks for reporting it!

[2018-09-01 16:47] tinymachine commented on #179
That's great -- hope that can be of help to others. BTW I'm a big fan of your accessibility work, and as someone new to really digging into web accessibility, I've found your YouTube series [A11ycasts](https://www.youtube.com/playlist?list=PLNYkxOF6rcICWx0C9LVWWVqvHlYJyqw7g) extremely helpful and engaging. Kudos, and keep up the excellent work!

[2018-09-01 16:47] #179 closed

[2018-09-01 16:56] robdodson commented on #179
Thank you! Glad you're finding the videos helpful 😁

[2018-09-18 06:44] saschanaz opened #183 "Closing a dialog by Escape key is also being considered as keyboard navigation"
[WAI-ARIA suggests returning focus to the previously focused element when closing a modal dialog](https://www.w3.org/TR/wai-aria-practices/#dialog_modal), with [an example](https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html):

Using focus-visible here is tricky as currently the polyfill responds to all keydown events and adds `.focus-visible` class when the ARIA refocusing

[2018-09-18 07:17] saschanaz commented on #145
Seems this is already fixed by #157.

[2018-09-18 08:34] saschanaz commented on #183
#88 suggests closing by keyboard should cause focus-visible, but think about this situation:

1. User clicks a button with a mouse to open a dialog, which includes a `textarea` and closes by Enter key.
2. User types some text in the `textarea` and taps Enter to complete submission, which closes the dialog.
3. User now restarts using mouse.

I would suggest that we keep the previous focus visibilit

[2018-09-22 16:13] robdodson commented on #183
I definitely understand the dilemma. The issue is that I'm not sure how we would know that a dialog is being opened or closed. As mentioned in [this comment](https://github.com/WICG/focus-visible/issues/88#issuecomment-398587644) it seems like there is probably a need for some kind of mechanism to manually control the behavior of focus-visible.

Currently `focus()` can take [a dictionary argument]

[2018-10-02 21:05] xirclebox commented on #14
I just tested the plugin with various browsers on the Mac and noticed that the focus rings in Safari aren't present on the radios and sliders. Sad face but not a deal breaker.
https://wicg.github.io/focus-visible/demo/

[2018-10-03 05:30] robdodson commented on #14
I just checked the demo in Safari. It looks like radios show a focus ring if you tab to them. Sliders do not, but I think that's a Safari quirk. Tabbing to [this slider](https://jsbin.com/buyihefagi/edit?html,js,output) doesn't show a focus indicator on my machine.

[2018-10-13 05:44] viktorix opened #185 "Is the polyfill working right now?"
Was checking out demo, .focus-visible and data-focus-visible-added are added on mouse click,

This is on Chrome 69.0.3497.100, Firefox 62.0.3.
No console errors.

Demo I'm referring to:
https://wicg.github.io/focus-visible/demo/

Thanks.

[2018-10-14 00:32] robdodson commented on #185
It seems to be working fine for me? Can you check your console and let me know if you see any errors.

[2018-10-14 05:01] viktorix commented on #185
Ah that does make sense now. I would suggest adding this info to "how it works" section in readme, for people like me :laughing:

Thanks Rob.

[2018-10-17 05:54] Justineo commented on #126
Or can we ship a separate [ponyfill](https://github.com/sindresorhus/ponyfill) version?

Usage in Uppy can be:

[code]

And the polyfill version can be just:

[code]

[2018-10-23 19:10] MariuszDabrowski opened #186 "Clarification on license"
Hey,

Reference: https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document

`The full text of this NOTICE in a location viewable to users of the redistributed or derivative work.`

What does this mean exactly?

1. Do you need to include a link to the NOTICE within your code?
2. Do you need to include a link to the NOTICE on your website?

Or is it something entirely different that I

[2018-10-23 19:41] robdodson commented on #186
@marcoscaceres 	any thoughts?

[2018-10-24 16:06] MariuszDabrowski commented on #186
@robdodson @marcoscaceres awesome, thanks - in the code it is!

[2018-10-24 16:06] #186 closed

[2018-10-25 14:20] smerin opened #187 "IE9 issue in React app"
I'm using focus-visible in a react application (built with create-react-app).

When viewing a build of the app in IE9, we have a blank screen with the console error:
**"Unable to get property 'add' of undefined or null reference"**

**src/index.js:**
[code]

I've testing it on a fresh install of create react app, with just the ie9 polyfill and focus-visible added, with the same issue.

[2018-10-25 14:39] smerin commented on #187
Worked like a dream! Thanks 👍

[2018-10-25 14:39] #187 closed

[2018-11-08 16:03] Justineo commented on #151
I think `:has(:focus)`/`:has(:focus-visible)` are better than `:focus-within`/`:focus-visible-within`. Maybe `:has` is too big a thing to proceed?

[2018-11-08 21:14] plinehan opened #188 "Expose the input modality."
I'm curious if you see any way, in the future, we'll be able to access the input modality separately from the focus-visible state.  Probably best explained by an example:

We have an input text box.  Inputs, by default, always have focus-visible, unlike buttons, etc.  For design reasons (over which I have no control), we'd like this one input box to act more like a button... that is, only show foc

[2018-11-14 13:42] Malvoz commented on #188
See related proposal for `@media (key-navigation)`: https://github.com/w3c/csswg-drafts/issues/1911

[2018-11-15 01:21] alice commented on #188
Thanks for the issue and use case!

I wonder if, in a browser-based case, [`inputmode`](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode) could help here. `inputmode` already has an option for "don't show a system keyboard" - I imagine you'd want to use that in this case, since showing a keyboard would be confusing. In that case, we'd also want to not show the focus ri

[2018-11-27 02:00] robdodson commented on #167
Assigning to myself to create CRBug for chrome impl.

[2018-11-27 23:31] plinehan commented on #188
I have to admit that I hand't been thinking about virtual keyboards at all!  Maybe I should.

I think you're right, though, that in this particular case we would not want a virtual keyboard to show on initial focus of the input.

To give more context, this input box is the message composer of a chat application. When a user opens a chat, we'd like to focus the input so they can compose a new messa

[2019-01-11 22:12] Malvoz commented on #188
https://github.com/w3c/csswg-drafts/issues/621

[2019-03-06 16:45] JacobDB opened #189 "Add option to exclude certain elements"
I've got a third-party Events plugin installed on a WordPress site that uses this module. The Events plugin has a search feature, which opens a date picker when you focus on a particular field. With this module enabled, it seems that the event listener on the input gets broken.

Being able to add a class to certain inputs would solve this problem &ndash; something like `focus-visible-ignore`.

[2019-03-06 16:51] JacobDB commented on #189
Actually, nevermind, I'm just dumb. I had dequeued the stylesheet associated with the date picker without realizing it. Your module doesn't affect it, closing. Sorry!

[2019-03-06 16:51] #189 closed

[2019-03-11 10:56] SuselMan opened #190 "Element focuses with any key"
Steps to reproduce:
1) Click any selectable element.
2) Press any key except 'Tab'
Actual result:
The element from the first step has a `focus-visible` class.
Expected:
The element has not  `focus-visible`.

Thank you =)

[2019-03-11 18:44] robdodson commented on #190
I think the behavior you're describing might be working as intended. If the user switches to keyboard modality we want to show them where their focus is.

Can you provide an example from your application where this behavior is unexpected or undesirable?

[2019-03-12 15:26] SuselMan commented on #190
Yeah, I have an item list, where each item can be chosen by the shortcut, so if I click to one of them and then use the shortcut for selecting another I don't expect that tab navigation will be enabled.

[2019-03-12 15:39] Justineo commented on #190
I think if you select something with a keyboard, no matter via shortcut or not, the item should match `:focus-visible`.

[2019-03-12 16:36] SuselMan commented on #190
Actually not, cos tab navigation just set an element as active, and dispatch click with 'enter' key, unlike shortcut which begins to click behavior immediately; Also shortcuts can do something not related to navigation, and in these cases `focus-visible` is unexpected;

[2019-03-12 17:23] robdodson commented on #190
@SuselMan 	which keys are you using for the shortcut? We are updating `:focus-visible` to ignore shortcuts that start with a modifier key.

[2019-03-12 17:23] robdodson commented on #190
More explanation here: https://github.com/WICG/focus-visible/issues/167

[2019-03-12 17:48] SuselMan commented on #190
These shortcuts are without a modifier like 'A, F, S' or arrows, which often are used for tools as an example.  Is there any reason to handle other keys besides Tab and Shift+ Tab?

[2019-03-12 18:01] robdodson commented on #190
The [web content accessibility guidelines (WCAG) 2.1](https://www.w3.org/TR/WCAG21/#character-key-shortcuts) were recently updated to recommend not using single character key shortcuts, or if you do use them, to make it so the user can change them to use a modifier key. This is because many screen readers already use single character keys for navigation. NVDA, for instance, [uses the "F" key to mo

[2019-03-12 18:05] robdodson commented on #190
For what it's worth, this also matches the behavior in Chrome.

[Here's an example](https://jsbin.com/wuzuvig/edit?html,output). Mouse-click the button. Then press any key on your keyboard. You'll see that the focus indicator shows up because the browser has decided that the user is now navigating via the keyboard.

[2019-03-12 22:54] alice commented on #190
@SuselMan I'm curious to understand why this behaviour is unwelcome, as well. Our thinking has been that if you are *interacting* via the keyboard, you want to know what you're interacting with, regardless of how you moved focus. If this thinking doesn't agree with yours, I'm interested to understand why and what we might have missed.

[2019-03-14 06:24] tinymachine opened #191 "Meta-question about eslint-plugin-es5 usage"
This package's [`.eslint.js`](https://github.com/WICG/focus-visible/blob/c16758abceed478e69cad11ada4a464a1ffa17ad/.eslintrc.js) includes `eslint-plugin-es5` in `plugins`, but never sets up (or "extends") any rules (e.g. `"extends": ["plugin:es5/no-es2015"]`). Does the plugin do anything without configuring any rules?

I tried this on a test project and the plugin failed to catch ES2015+ code witho

[2019-03-15 14:47] SuselMan commented on #190
@alice, @robdodson I have researched the question, and actually seems like you are right. This behaviour is usual. There are some troubles for me with legacy one-key shortcuts, especially, when Enter is one of them in special app states. Thank you, and sorry for your time.

[2019-03-15 14:47] #190 closed

[2019-03-19 15:37] robdodson commented on #191
hmmm...It seemed to work for me just now when I tried it.

I added `const foo = 'bar'` to src/focus-visible.js, then ran `npx eslint src/focus-visible.js` and it complained about the use of `const`.

Going to close this as working as intended but happy to keep discussing in this thread if you think there's an issue.

[2019-03-19 17:31] tinymachine commented on #191
Thanks so much for taking the time to test it out and replying! For me, ESLint complains about `const` even without any plugins configured: `Parsing error: The keyword 'const' is reserved`.

When I try the following code (via [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign)) using the ES6 `Object.assign()` method with just `"plugins": ["es5"]` c

[2019-03-19 17:43] robdodson commented on #191
oh interesting. ok maybe I have it configured wrong. Let me reopen the ticket and I'll do a PR to add the extends field.

[2019-03-19 17:44] robdodson commented on #191
by the way, if you're interested at all in submitting a pull request for this I'd be happy to help you land it. No worries if you're too busy, but wanted to offer just in case that sounds interesting :)

[2019-03-19 17:45] tinymachine commented on #191
Sure, I'd be happy to -- should be really quick...

[2019-03-19 17:56] tinymachine commented on #191
Hmm - [apparently](https://www.npmjs.com/package/eslint-plugin-es5#usage) the only two configurable options with eslint-plugin-es5 are `plugin:es5/no-es2015` and `plugin:es5/no-es2016`, but nothing more recent. I suppose configuring both of those is better than nothing. I'll go ahead and do that unless I hear otherwise from you.

[2019-03-19 18:13] robdodson commented on #191
yep that sounds good. We basically want to enforce that we only are using es5

[2019-03-19 18:53] tinymachine commented on #191
I just wonder if some ES2017+ could slip through the cracks without having presets for those ES versions...(or maybe I'm thinking about this wrong!)

[2019-03-19 20:27] robdodson commented on #191
Hm, maybe. I'll do my best to keep an eye on it. Thank you again :)

Fixed in #192

[2019-03-19 20:27] #191 closed

[2019-03-19 21:50] tinymachine commented on #191
My pleasure -- thanks for sharing this library, and for all your a11y work.

[2019-03-20 12:36] Alohci commented on #88
What happens if the programmatical focus was driven by a non-input event, say a timeout, or a message to the window from another window? I think what I'd want is for the current state to be preserved. i.e. if the previously focussed element matched :focus-visible, then so should the newly focussed one.

[2019-03-20 18:11] robdodson commented on #88
@Alohci I think in that case it would use the behavior mentioned in this comment: https://github.com/WICG/focus-visible/issues/88#issuecomment-398518020

It'll use whatever state it was previously in.

[2019-04-17 11:14] jakearchibald opened #193 "Is DOM ready necessary?"
The only line that seems to depend on some sort of DOM readiness is:

[code]

Could that be:

[code]

…so this script could be loaded lazily or async?

[2019-04-17 17:03] robdodson commented on #193
I think that seems reasonable to me. @alice any objections?

[2019-04-17 17:32] jakearchibald commented on #193
This would be a backwards incompatible change if anyone is hanging styles off `body.js-focus-visible`, but if they're just using `.js-focus-visible` it'll be fine.

[2019-04-17 17:33] robdodson commented on #193
yeah good point. I'm fine doing a major version bump for it.

[2019-04-17 20:47] alice commented on #193
Seems reasonable, thanks!

[2019-04-28 17:51] cdata commented on #193
I came here with this _exact_ question, so glad to see someone else had it too :)

I had a different use case in mind, and @jakearchibald 's mention of the lazy-loading use case leads me to think that it may not be sufficient to apply the class synchronously. This approach works assuming that you have some knowledge that the polyfill might be loaded at all, and control over when it is loaded.

##

[2019-04-28 18:19] robdodson commented on #193
@cdata can you provide a bit more info on what use case you're trying to solve? Are you trying to provide alternative focus styles if you detect that the focus-visible polyfill is not in play?

I'm not sure how I feel about that since this is polyfilling a CSS feature and when `:focus-visible` itself ships there won't be a global init event. Someone could reasonably remove the polyfill because all

[2019-04-28 18:31] cdata commented on #193
@robdodson my problem, at its core, is that there does not seem to be a way to use the polyfill with _just CSS_ from a shadow root-encapsulated stylesheet. Perhaps I'm wrong, in which case maybe you can help talk me down :)

In case I'm not wrong:

A workaround that I started to explore is detecting the presence of the polyfill from JS (described in my original comment; see also how this leads to

[2019-04-28 18:38] cdata commented on #193
Please forgive my psuedocode:

[code]

[2019-04-28 18:41] cdata commented on #193
It just occurred to me that I might be screwed for a completely different reason: this polyfill does not seem to be aware of shadow roots at all.

Is `:focus-visible` spec'd to handle such use cases?

[2019-04-28 19:04] cdata commented on #193
Sorry, to circle back around once again: it looks like this polyfill doesn't (but should) care about focus traversal in shadow roots.

To the extent that it does care in the future, it's possible that my use case will dissolve, but it depends on the extent to which the polyfill can be used without JS-based coordination from the component.

[2019-04-28 19:08] cdata commented on #28
Just wanted to cross-reference a (misplaced, in retrospect) series of comments I made related to using this polyfill from a shadow root: https://github.com/WICG/focus-visible/issues/193#issuecomment-487401190

[2019-04-28 19:21] robdodson commented on #193
@cdata take a look at https://github.com/WICG/focus-visible/pull/112.

We spent some time exploring Shadow DOM support but it kind of ran aground because when focus moves around inside of a shadow root, the focus event doesn't bubble out.

Someone suggested adding a mixin that web component authors could use which might be a better approach than our document level listener.

Unfortunately I haven'

[2019-04-28 19:39] cdata commented on #193
@robdodson IMO the mixin approach sounds like a reasonable middle ground. It's better than the unbounded problem of observing focus throughout the composed tree.

Naively, I might take the following approach:

 1. Craft a JS helper function that accepts a `Document|ShadowRoot` argument and applies the polyfill at that scope only
 2. The polyfill will always invoke the JS helper with the top-level

[2019-04-29 22:38] robdodson commented on #193
Following up on this. Chris and I caught up in person and he has a pretty cool patch that provides a function which element authors can call on their shadow roots to make :focus-visible work in that scope.

Chris, do you know if your proposal would also help with #126 and #46 ?

[2019-05-02 17:15] cdata commented on #193
For scoping, I definitely think #196 _could_ be used to scope the polyfill as described in #126 and #46.

The caveat is that #196 relies on the way encapsulation works at shadow root boundaries. So, anyone who wants to use it in their components would have to also use a shadow root.

Reasonable people can disagree about whether Shadow DOM should be a requirement for scoping the polyfill, but my pe

[2019-05-03 17:21] robdodson commented on #193
btw with I/O coming up this week (and impending post-I/O vacation) I wanted to mention that I don't think I'd be able to land these changes until after May 20, unless Alice wants to take the lead on landing them.

[2019-05-03 17:26] cdata commented on #193
That's fine. We don't have a critical deadline for these changes. Of
course, we would like to be able to recommend the `:focus-visible` polyfill
to our users as soon as possible, but it's not going to kill us to wait a
couple of weeks.

On Fri, May 3, 2019 at 10:21 AM Rob Dodson <notifications@github.com> wrote:

[2019-05-07 04:51] alice commented on #193
What is involved in landing the changes?

[2019-05-07 05:16] robdodson commented on #193
Signing off on the code review and getting the tests working.

[2019-06-06 23:12] #28 closed

[2019-06-06 23:12] #193 closed

[2019-06-07 08:11] jakearchibald opened #198 "Remember hadKeyboardEvent across navigations?"
1. User pressed "start game" with mouse.
1. Page navigates to game.
1. Game board is automatically focused.

Right now this will show focus styles, because `hadKeyboardEvent` has reset as part of the navigation.

Should it be stored in session storage?

From a web standards point of view, should this state travel across origins? In the above steps, imagine if the page with the start button was on

[2019-06-07 17:38] robdodson commented on #198
I don't have good answers just sharing some of the history here :)

We've wrestled with this issue a fair bit:
- https://github.com/WICG/focus-visible/issues/88
- https://github.com/WICG/focus-visible/issues/9
- https://github.com/WICG/focus-visible/issues/115

I think there are two parts to the question:
1. What should happen during programmatic focus?
2. Should we store the user's modality acros

[2019-06-12 19:49] robdodson commented on #198
@jakearchibald Have we ever discussed [Focus Navigation Start Point](https://developers.google.com/web/updates/2016/03/focus-start-point)?

One of the ideas Alice and I have been discussing is exposing this to developers. Currently in SPAs folks do focus management by setting tabindex=-1 on an element and calling focus on it when it loads. Often they suppress the focus ring because the element the

[2019-06-13 13:45] jakearchibald commented on #198
The polyfill does a good job here I think. As in, switching on the last device the user used.

Agreed. But what about same-origin? The polyfill doesn't currently store it, hence the issue I ran into, but it could via session storage.

I hadn't read that before, and it's great, but I don't think it applies in this situation.

In this case, I want to show focus styles if the user used keyboard, but

[2019-06-13 13:55] jakearchibald commented on #198
In fact, here's a reduced demo https://static-misc.glitch.me/focus-visible/.

[2019-06-14 21:22] robdodson commented on #198
@alice do you happen to know if Chromium's focus type flag gets reset when someone navigates?

@jakearchibald I think I'm ok with adding this to session storage—Alice do you have any thoughts?

Jake I don't know if you have the bandwidth to do a PR on the polyfill to add this? If not that's totally OK, I can try to get to it sometime soon.

[2019-06-17 17:25] damusnet opened #199 "v5 breaks server-side rendering"
We use `focus-visible` in a server-side rendered Next.js application.

Prior to v5, we could simply `import 'focus-visible';` at the top of our `_app.js`, which is the entry-point of all pages, and where we can setup the Layout and other things.

Since upgrading from `v4.1.5` to `v5.0.0` the development server breaks with the following message:
[code]

I believe this might have been caused by [the

[2019-06-17 18:12] robdodson commented on #199
ah good catch. @damusnet I'm not super familiar with SSR. How do other libraries intended for the DOM tend to handle event dispatching?

cc @cdata

[2019-06-17 18:21] damusnet commented on #199
Server side rendering in the case of Next.js and React is essentially the same as "the first render pass" only*. (There are nuances, but I don't think they are pertinent in this case). So there would not be a concept of event dispatching.

I would not try to do anything with `focus-visible` here. The previous implementation worked just fine.

Essentially just wrapping any `document` or `window` co

[2019-06-20 20:41] #199 closed

[2019-06-24 00:04] ayumihamsaki opened #201 "Having an issue with Firefox and this polyfill"
Hi,

I have set up how Rob suggests and my Google Chrome is working fine with the polyfill.

With Firefox, they suggest to use something different: `-moz-focusring` instead of `:focus`

Setting the following code for the ` :focus-visible`

I have the following:

[code]

This works fine and hides the focus ring. But the ` :focus-visible` with the polyfill doesn't work and display the focus ring whe

[2019-06-25 09:09] anpos231 commented on #201
This polyfill enables a class called '.focus-visible', not a pseudo-selector ':focus-visible'.
So instead of using `.something:focus-visible` you should use `.something.focus-visible`

[2019-06-25 16:23] ayumihamsaki commented on #201
I see, I have that bit wrong.

Also your '`readme`' file is missing some information

It says the following:

# Backwards compatibility
Until all browsers ship `:focus-visible` developers will need to use it defensively to avoid accidentally
removing focus styles in legacy browsers. This is easy to do with the polyfill.

[code]

But I think it should be updated to this:

# Backwards compatibility

[2019-06-25 16:24] ayumihamsaki commented on #201
I see, I have that bit wrong.

Also your '`readme`' file is missing some information

It says the following:

# Backwards compatibility
Until all browsers ship `:focus-visible` developers will need to use it defensively to avoid accidentally
removing focus styles in legacy browsers. This is easy to do with the polyfill.

[code]

But I think it should be updated to this:

# Backwards compatibility

[2019-07-09 14:37] kevinSuttle commented on #42
@alice Has there been any movement on this recently? Would love to gain some momentum across vendors for supporting your proposal.

[2019-07-09 23:23] Macil commented on #201
It doesn't seem like `.js-focus-visible :-moz-focusring:not(.focus-visible) { outline: none; }` solves any issues.
* Here's a simple example of the focus-visible polyfill being used with the polyfill's currently recommended CSS so that browsers don't add outlines to custom buttons except when the user tabs to them: https://codepen.io/anon/pen/YodvOW. It already works as expected for me in Firefox

[2019-07-10 01:24] ayumihamsaki commented on #201
@Macil

You say this:

But it quite clearly says on MDN:

What makes you say that? Could you share some info to back up your claim. Would like to know if the info on MDN is wrong or not? Thanks.

[2019-07-10 01:26] Macil commented on #201
I think it means `:-moz-focusring` is similar to `:focus` in the same way that `:focus-visible` is. The page looks like it was written before `:focus-visible` was created, otherwise it would probably be compared to that one. The MDN page for `:-moz-focusring` should be updated to link to `:focus-visible` and mention its similarity.

[2019-07-10 04:09] josemarluedke opened #204 "Version 5.0.2 not published to NPM"
It seems that the version 5.0.2 is not published to NPM.

https://www.npmjs.com/package/focus-visible.

[2019-07-10 09:51] ayumihamsaki commented on #201
Cool, thanks.

[2019-07-11 14:17] robdodson commented on #201
Sorry for the confusion. @Macil is correct. See the MDN page for `:focus-visible` for the comment on `:-moz-focusring`. https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible

[2019-07-11 14:17] #201 closed

[2019-07-11 14:19] robdodson commented on #204
oops! should be live now. thank you!

[2019-07-11 14:19] #204 closed

[2019-07-11 15:00] ayumihamsaki commented on #201
Thanks for the info Macil and Rob.

[2019-07-11 19:52] jay-airtable opened #205 "useFocusVisible React hook"
Hey all I created a `useFocusVisible` hook for React in a Codesandbox: https://codesandbox.io/s/usefocusvisible-qy01w

I am aware this is not an issue, so feel free to close this. I wanted to provide this resource for anyone searching for a React solution for this polyfill. If there is any interest, I might turn this into a package when I have some time.

[2019-07-11 19:56] #205 closed

[2019-07-11 19:56] robdodson commented on #205
That's cool, thank you @jay-airtable :)

[2019-08-07 14:06] jakearchibald commented on #198
I'll put it on my backlog

[2019-08-12 15:44] bradkemper commented on #167
The option key on Mac doesn’t seem to be triggering keyboard mode.

In Safari, there is a checkbox setting to “press tab to highlight each item on a web page (including links and all form items, instead of just text fields and pop ups (drop downs)). Using the option key reverts that behavior temporarily. If the checkbox is not checked, using the option key will temporarily make it act as though it

[2019-08-20 00:11] alice commented on #167
To clarify: do you mean that the expected behaviour is that [option] + [tab] on Mac should behave identically to [tab] on its own, and currently it does not behave that way because we treat [option] + [tab] as though it might potentially be a system shortcut?

[2019-08-21 13:14] chinanderm opened #207 "Option to add class to body when any element on the page has focus-visible"
Feature suggestion: When _any_ element on the page has focus-visible, can there be a config option (or default) to also had a class to the body indicating that the user is navigating via keyboard?

The use case here is to display not-currently-focused elements that may be hidden behind hovers or other UI/UX patterns.

An example of this functionality is Dropbox. If you navigate to a list of files

[2019-08-22 00:37] robdodson commented on #207
I agree that functionality sounds useful. However, I'm not sure if this polyfill is the best place to add it. Ideally the polyfill should have parity with the CSS property and the native version of `:focus-visible` would not be able to add this class to body. So it would lead to a situation where some apps might not be able to remove the polyfill because they're relying on non-standard behavior.

[2019-08-22 00:37] #207 closed

[2019-08-27 16:49] ayumihamsaki opened #208 "Error with checkbox's"
Hello,

To reproduce the following error you can do these steps:

1. Press '`Tab`' to the checkbox (which will add the focus ring).

2. Use the mouse to click on the same checkbox (you still get a focus ring). I've already coded an extra line to remove the focus ring when you click them with a mouse, but keep the focus ring when you press '`Tab`' to get to them.

3. While on the same checkbox (whi

[2019-08-27 18:47] ayumihamsaki commented on #208
@robdodson

Thanks, makes sense what you said.

I just don't like seeing a focus ring on a checkbox when a user clicks with the mouse. I fully understand it would be useful when using keyboard navigation - I just don't think it's needed for mouse clicking.

[2019-08-27 19:00] ayumihamsaki commented on #208
@robdodson

Thanks, makes sense what you said.

I just don't like seeing a focus ring on a checkbox when a user clicks with the mouse. I fully understand it would be useful when using keyboard navigation - I just don't think it's needed for mouse clicking.

The reason I say this is because all browsers show different checkboxes and so most developers don't even show the default checkbox we show a

[2019-08-27 20:14] ayumihamsaki commented on #208
@robdodson

Thanks Rob for your comments and keep up the good work with your accessibility videos.

[2019-08-29 09:34] Justineo commented on #207
I have another use case for this feature request. When used with frameworks like React/Vue, any direct modification can be discarded when the view is updated after the underlying data changes. So applying a class name flag to the root element may be a safer approach for these cases.

But I also agree that relying on this behavior will make it harder to switch to the native implementation.

[2019-08-29 14:19] gridchin commented on #124
`import 'focus-visible';` also works.

[2019-09-11 23:34] vtrottier opened #209 "Focus ring flash on reload"
When I press F5 to reload the page, I see an annoying focus ring "flash" on the currently focused element before reload. Could it be possible to add F5 to the ignored keys, since the page gets reloaded anyway?

[2019-09-12 01:44] robdodson commented on #209
@vtrottier quick question, if you're using Chrome and mouse click on this button element then press F5 does it also a focus ring?
https://output.jsbin.com/kimixolino

[2019-09-12 02:00] vtrottier commented on #209
@robdodson Yes, it seems to be the default Chrome behavior with buttons.

[2019-09-12 14:26] FelDev opened #210 "No changelog?"
I cannot find a CHANGELOG.md or history.md or something similar.
Did I miss something?
I'm sure many would like to see one before migrating from 4.1.5 to 5.0.2

[2019-09-12 20:03] #210 closed, assigned to nobody

[2019-10-11 18:07] jay-airtable opened #211 "Alternative approach that does not require adding a class / data attribute to the element"
The current polyfill adds a class name `.focus-visible` or data attribute to the element that is focused. This is reliable, but the polyfill does interact with the `activeElement` property and changes DOM properties directly which might be unexpected within frameworks such as React or Vue — and could be overridden in rare situations (especially if class name is used #179) .

## An alternative appr

[2019-10-22 01:54] alice commented on #211
Funnily enough, this is very similar to our initial version: https://github.com/WICG/focus-visible/blob/0025e945121b60f8445db5891913f4192438abf3/src/keyboard-modality.js

If this approach is better for you, you might be able to use [what-input](https://ten1seven.github.io/what-input/) as-is?

[2019-12-05 11:25] MarcoZehe commented on #151
@t3chguy and I are currently beating around something like this in the Riot web client. A toolbar only shows if the mouse hovers over the relevant message. We are at a point where the action toolbar shows up if screen readers or keyboard users move into the actual message tile, but the way CSS is set up right now, with the .focus-visible polyfill, the toolbar disappears once the screen reader move

[2019-12-10 13:59] oatymart commented on #185
I agree, I wasted too much time trying to debug why it was just not happening on text inputs. The relevant info is a footnote of a linked document, whereas it could be in big letters, on your main readme and your demo page @robdodson

[2019-12-10 21:05] robdodson commented on #185
@oatymart would you care to do a PR to add the info to the "How it works" section?

[2019-12-12 15:25] oatymart commented on #185
I will give it a shot when I (fingers crossed) find the time this week or next!

[2019-12-19 21:58] robdodson commented on #151
@MarcoZehe is there a demo we could play with? I'm having a hard time understanding the use case.

[2019-12-19 21:59] robdodson commented on #151
@OliverJAsh sorry for the lag. Can you show me what your markup looked like?

[2019-12-20 05:48] MarcoZehe commented on #151
The use case is [Riot Chat](https://riot.im/app) that shows an action bar for each message when hovering over it. However, there are a few situations where this doesn't work reliably, for example for screen readers, we adjusted this to also be :focus-within, but that doesn't fire in all situations. We need to do this so screen reader and keyboard users (once full keyboard access is implemented) ha

[2019-12-20 12:16] OliverJAsh commented on #151
@robdodson https://jsbin.com/fokexoc/1/edit?html,css,output

[2020-01-10 18:03] robdodson commented on #151
hm yeah both of these make sense. It looks like the TAG folks added a CSS selectors level 5 label to the prior discussion here: https://github.com/w3c/csswg-drafts/issues/3080#issuecomment-437048758

I wonder if they're thinking of exploring the `:focus()` or `:has()` option...

[2020-01-14 00:39] robdodson commented on #151
@MarcoZehe That makes sense. You're basically replacing hover with focus-visible for folks using assistive tech, but that means that if the hover card contains something focusable you want to keep it from closing when the user tabs to that focusable child inside of the card.

Since you mentioned that the user is moving focus inside of the toolbar, could you use focus-within on the toolbar itself t

[2020-01-14 00:44] robdodson commented on #151
@OliverJAsh yeah that's a tricky example... It feels like the issue is really with `<input type="file">` and the fact that you have to use the label hack to make it styleable. In other words, if you could just style the `<input type="file">` button you wouldn't need `:focus-visible-within`, correct?

[2020-01-14 07:27] t3chguy commented on #151
Not quite because then clicking on a toolbar item would mean the toolbar stays open, which is undesirable in this case.

[2020-01-14 11:09] OliverJAsh commented on #151
Correct! Although consider this example where we don't want to hide the `input`: we want to give the `label` `:focus-visible` styles when the `input` within has focus https://jsbin.com/wexehirubu/1/edit?html,css,output

[2020-01-27 20:07] robdodson commented on #151
@t3chguy

Is that because toolbar items are custom components using tabindex? I think a `<button>`, for instance, won't retain focus in Safari or Firefox, but will in Chrome. I'm mostly asking because if `<button>` _didn't_ retain focus, I'm curious if it would fix your issue.

[2020-01-28 01:25] alice commented on #42
Some more discussion here: https://github.com/w3c/webcomponents/issues/762

[2020-01-30 17:52] t3chguy commented on #151
they are custom components using tabindex but I don't think the proposed fix would solve my issue without testing

[2020-01-30 23:38] robdodson commented on #151
ah yeah. I believe all browsers retain focus when you click on something with tabindex.

Do you want the toolbar to close when someone using a keyboard clicks on the item? Because I think it would still be matching :focus-visible-within at that point. If the button already has focus and you hit spacebar, I don't think it blurs focus.

So I think the only way to work around that would be to program

[2020-03-10 23:47] robdodson commented on #183
@saschanaz can you tell me what's the negative impact of showing the focus indicator if the user pressed escape to close the dialog?

[2020-03-10 23:50] alice commented on #183
I think this comes down to "can we anticipate when mixed-mode users are about to change mode" (e.g. from using the keyboard to submit a form, to using the mouse to navigate the non-modal part of the page), and I think the answer is simply that we can't.

As Rob asks, what is the impact of showing a focus ring around the element which triggered the dialog to open, in the case where the user has use

[2020-03-11 08:00] saschanaz commented on #183
I think tapping Escape key is like tapping back button on my phone. Getting an indicator whenever tapping back button is just unexpected.

[2020-03-11 10:35] alice commented on #183
That makes sense to me, to be honest.

I don't think we can reasonably detect the case where the user is "returning" to a pointer-based modality from using a dialog, but if the user _only_ used the escape key after being in a pointer-based modality, we can probably guess that they are going to keep using a pointer.

[2020-04-02 21:53] mikey0000 opened #221 "focus visible triggers for mouse on inputs"
focusTriggersKeyboardModality triggers on mouse down so users see a brief flash of outline or box-shadow.

this should be configurable as for the specific project we don't want focus on mouse anything

[2020-04-03 19:55] robdodson commented on #221
This is by design. The `:focus-visible` pseudo class uses a heuristic to determine which elements should always match focus. `input` fields are one such type of element. The explainer may help more here: https://github.com/WICG/focus-visible/blob/master/explainer.md

This is a polyfill for the upcoming `:focus-visible` pseudo class which is not configurable. You might check out a library like [wha

[2020-04-03 19:55] #221 closed

[2020-04-15 12:55] Malvoz commented on #179
With concerns around the removal of classes, a more robust approach would be to leave out class selectors entirely:

[code]

[2020-04-19 02:21] MaxMaeder commented on #221
@mikey0000 I ran into a similar issue, so I made a library that does exactly that.

If you're interested, you can find it [here](https://github.com/MaxMaeder/keyboardFocus.js).

[2020-04-26 10:14] seahorsepip commented on #205
@airtable-JayRansijn
This is great, I love the implementation of the hook that avoids touching things like classes.

Any chance you could create an npm package ? With something like `create-react-library` this would be doable in a few minutes.

[2020-05-14 18:00] skosito opened #228 "Button type doesn't trigger keyboard modality"
Hey,

i noticed sometimes, since first element in app is button, classes are not added. I figured by reading and debugging focus-visible that reason is focusTriggersKeyboardModality method is not supporting buttons, so pretty much if we didn't have keyboard events before, and this method returns false, that button is skipped when pressing tab from url bar.

Is there a way to add support for button

[2020-05-15 15:12] dipunm commented on #205
Hey @airtable-JayRansijn, thanks for your work here! I have published a package to npm and given credit to you. If you would like to take or discuss ownership, please reach out to me :)

https://www.npmjs.com/package/use-focus-visible

[2020-05-15 20:07] airtable-JayRansijn commented on #205
Thanks @dipunm for creating the library and mentioning me. We ended up working with something similar to https://github.com/WICG/focus-visible/issues/211 because of some our technical constraints.

Feel free to keep as is!

[2020-05-16 01:19] skosito commented on #228
Create PR for this issue, could you please take a look and tell me if this change would be ok? https://github.com/WICG/focus-visible/pull/229

[2020-05-20 08:05] TheKnarf opened #230 "How should I use this with Create react app?"
Do I have to edit my html-file, or could I include it from `src/index.js`?

[2020-05-20 19:39] robdodson commented on #228
Discussed over in #229. I believe this is working as intended. Going to close this issue but happy to keep discussing if there's any confusion.

[2020-05-20 19:39] #228 closed

[2020-05-20 19:42] robdodson commented on #230
Hey @TheKnarf

I'm not very familiar with React but it looks like some folks have made a Hook to do this
https://github.com/WICG/focus-visible/issues/205

You could also see about importing it from src/index.js. After it's been loaded onto the page it should "just work" by setting `.inert` to true or false on the DOM elements. But using something like a Hook might be more idiomatic React style and

[2020-05-20 19:42] #230 closed

[2020-05-20 22:31] skosito commented on #228
Thank you very much! Implemented a workaround for this specific case in my project.

[2020-06-12 10:35] svoronuk opened #231 "Blur event do not triggered in FF for disabled control"
Switch from disabled control, e.g. button to enabled control, do not remove focusing style from disabled control.

Steps:
1. Switch by using TAB to button element
2. Disable button
3. Switch by using TAB to enabled element, e.g. input

Result: Two elements marked like focused

DEMO: https://codesandbox.io/s/angry-lovelace-z8i6h?file=/src/index.js

[2020-06-16 12:29] svoronuk commented on #231
I suggest this patch for the fixing the issue
[firefox_blur_patch.zip](https://github.com/WICG/focus-visible/files/4786558/firefox_blur_patch.zip)

[2020-06-24 01:51] aquaductape opened #233 "CSS outline not removed on NextJS"
On NextJS, a React Server Side Render framework, the focus outline still appears when clicking on button elements. I've used this library successfully in client React frameworks such as create-react-app.

focus-visible is loaded by `_app.js` page
[code]
Tried loading focus-visible inside `_document.js` page, didn't make a difference.

The css used by both demos.
[code]
[Demo: focus-visible removes

[2020-06-24 04:54] yuheiy commented on #233
You can solve this problem by using styled-jsx's Global styles. https://github.com/vercel/styled-jsx#global-styles

[2020-06-24 05:03] aquaductape commented on #233
@yuheiy I tried with global attribute on styled-jsx but it still fails. I updated the demo.

[2020-06-24 05:18] yuheiy commented on #233
Maybe it's a bug in styled-jsx. https://github.com/vercel/styled-jsx/issues/424

You can try this as a workaround:

[code]

https://codesandbox.io/s/suspicious-franklin-zr9o0?file=/pages/index.js

[2020-06-24 05:23] aquaductape commented on #233
Wow, that works! Thank you so much! I thought it was the issue of NextJS but really it was the styled-jsx.

[2020-06-24 05:23] #233 closed

[2020-08-24 06:21] kevzlou7979 opened #236 "Is there a way to remove the .focus-visible class name when clicking."
Hi there,

First thing, thanks for this awesome polyfill. Just want to ask a quick question if there's a way you can remove the class name `focus-visible` on this library. See the image below.

![issue1](https://user-images.githubusercontent.com/3138071/91010373-f907e500-e614-11ea-992d-ba20b23d4164.gif)

[2020-08-24 06:22] kevzlou7979 commented on #236
Tabbing works great, but when clicking on the `Warn` for example I want to remove the `.focus-visible` class name.

[2020-08-28 13:16] kutensky opened #237 "Don't enable polyfill if browser supports ":focus-visible""
Currently Chrome with experimental flag enabled supports ":focus-visible" polyfill. It would be nice if polyfill could be enabled only if current browser doesn' support ":focus-visible".
To do that, I propose to check pseudo-class support using this method:
[code]
And then in polyfill modify code on the line 306 with:
[code]

[2020-08-29 15:05] emilio commented on #237
Drive by, but that's a really really expensive way to test for a pseudo-element. `try { document.querySelector(":focus-visible"); return true; } catch { return false }` should be much faster.

[2020-08-30 00:27] Justineo commented on #237
I’m afraid this requires double your style declarations for `.focus-visible` to make it work with or without the “polyfill” (technically this project isn’t a real polyfill).

[2020-08-30 21:55] kutensky commented on #237
Yeap, that will require a double style declaration. But on the other hand, when browsers start to support his feature (Chrome is going to start supporting it from v.86), no js run will be needed. Currently, polyfill does a lot of background work that isn't good for performance.

[2020-09-12 22:17] Westbrook opened #240 "List a `module` export in package.json`"
While there is certainly lots of interesting functionality to explore with a more ES Module shaped implementation of the functionality herein, I'd be very interested in seeing the `package.json` include a `module` listing so that when importing into an ES Module for side effects tools like unpkg.com, don't hit a dead end when trying to transitively look up a "module" version of `focus-visible` whe

[2020-09-14 13:11] mpurish opened #241 ".focus-visible skips elements on Safari"
Recently I've noticed that .focus-visible class was not applied to some elements in safari when navigating with tab key. I tested it in on 3 computers (two macbooks and an imac) with same macOS and Safari version and the issue is persistent only on iMac. I've recorded a screen capture to demonstrate, focus jumps over a couple of <a> elements and buttons, and goes directly to inputs. Have anyones e

[2020-09-28 08:41] kaunio commented on #241
Hi,

I can only confirm that the demo page behaves exactly as your screen recording when trying it out on Browserstack.com. So it's definitely reproducible.

[2020-09-28 09:19] nikwik70 commented on #241
Hi,
I have same issues with the demo page in Safari.
In Firefox the Buttons-section is working, but the Links-section is passed without focusing.
In Chrome, the demo page is working as expected.

[2020-10-09 16:47] robdodson commented on #237
Very good points from everyone.

It sounds like if we land this then we should use @emilio's implementation, but also land a note in the README which explains the need to double up your style declarations. We could also add a note that if folks would prefer, they can use the postcss plugin (https://github.com/csstools/postcss-focus-visible) which I think will let them write their CSS using `:focus

[2020-10-09 16:48] robdodson commented on #236
hi @kevzlou7979 I'm not sure I'm understanding what's happening in the video, do you have some sample code you can share?

[2020-10-09 16:57] robdodson commented on #231
Hi @svoronuk, I'm not sure if I'm correctly seeing the problem. Are you saying that if a button has focus, and it is disabled, and then you tab away it will still have focus-visible applied? It doesn't seem like the polyfill is running in your demo (I don't see the .focus-visible class appearing). Could you add it?

Also, would you mind posting your suggested fix as a github gist instead of a zip?

[2020-10-09 17:02] robdodson commented on #240
I think this should be fixed now that #242 is merged. I'll do a release in just a bit.

[2020-10-09 17:08] robdodson commented on #241
This appears to be a Safari behavior not specific to :focus-visible. Try visiting https://en.wikipedia.org/wiki/Main_Page or https://codepen.io/robdodson/pen/pobvOWE and tabbing in Safari.

I believe you have to use option-tab to focus links in Safari.

[2020-10-09 17:08] #241 closed

[2020-10-09 17:12] robdodson commented on #240
just published 5.2.0 which includes this change

[2020-10-09 17:12] #240 closed

[2020-10-09 20:10] Westbrook commented on #240
Thanks Rob! That appears to have done it 💯

[2020-10-20 20:52] chris-dura opened #243 "How to add declaration when importing as module in Rollup + Typescript?"
Hi!
Probably a silly question, but I'm trying to get past a `Could not find declaration file for module ...` error.

I want to bundle the `focus-visible` polyfill into my library with Rollup + Typescript. I found [a closed thread about importing it as a module](https://github.com/WICG/focus-visible/issues/163#issuecomment-411929639)

So, I've taken @robdodson's advice and used the dynamic import l

[2020-10-24 21:21] Westbrook opened #244 "Conditional Application?"
I'm interested in having the polyfill apply itself conditionally, possibly by leveraging something like the following to decide not to do this work in browsers like Chrome and Edge:
[code]
On my end most of my usage is in shadow roots so I have access to doing this from the outside, however the document level application is made by default, and it would be great to avoid that as well. Is this some

[2020-11-02 19:46] chris-dura commented on #243
I'll go ahead close this, there's a few workarounds...

1. I landed on using the `noImplicitAny: false` in the `tsconfig.json`, which, to be fair, may not be better than `declare module '*';`, but it just seemed cleaner to me, and it seems like a fairly common option that a lot of libraries set.

2. You can use `// @ts-ignore` to simply ignore the line (not recommended)
[code]

[2020-11-02 19:46] #243 closed

[2020-12-14 00:45] miragecraft commented on #151
I have a scenario where `:focus-visible-within` would come in hand: https://codepen.io/Miragecraft/pen/mdrRLXw

[2020-12-14 02:37] bkardell commented on #151
Yeah, we've discussed this and a lot of other things like it in csswg. We know we should do something here, it's just not clear what. :has could, in theory solve a lot of things but in practice it is unclear it is implentable. Alternatively, a hundred withins would create  their own problems.

[2020-12-14 07:50] miragecraft commented on #151
By "a hundred withins" I assume you are referring to other pseudo-classes. I really don't feel just by adding `:focus-visible-within` it suddenly means every other pseudo-class needs a `-within` variant too, and for consistency sake it makes more sense to have a `-within` variant to `:focus-visible` to align with `:focus` and `:focus-within` than not having one.

In addition, I feel that `:focus`

[2020-12-14 14:31] NullVoxPopuli commented on #40
this does not work in firefox :-\

[2021-02-08 16:48] zelliott opened #247 "Focus visible... but for aria-activedescendant?"
### Motivation

I work on an app that renders highly visible focus indicators on keyboard input modality and subtle/no focus indicators on all other input modalities. We accomplish this today with a global singleton service that listens to focus events as well as keydown/mouse/touch/pointer events, and attempts to attribute the focus events to the appropriate input modalities. The service adds a C

[2021-02-09 00:13] Justineo commented on #247
It seems that the suggested solution in #211 also works for your use case. With a hint for input modality on the body or root element, you can use something like below:

[code]

[2021-02-21 23:32] benjamin-t-frost opened #248 "Managed Focus in Safari"
# Description
It appears that managing focus programatically causes the focus to become visible in safari; it is working as expected otherwise. Being able to do so is important for things like modals, dialogues, and whatnot.

# Expected behaviour
- Focus should be conditionally visible based on interaction regardless of if focus is managed or not.
- Behaviour across browsers should be consistent

[2021-02-22 01:23] #248 closed

[2021-02-26 04:46] prakhar241 opened #249 "Keyboard escape hides focus on Button ContextMenu"
Hello, I see a behavior where the focus is hidden when we escape the [button](https://developer.microsoft.com/en-us/fluentui/#/controls/web/button) that has [contextual menu](https://developer.microsoft.com/en-us/fluentui/#/controls/web/contextualmenu).

This hides the focus may be because this is treated as button, but keyboard escape should not hide the focus, and make it visible. Actually if I

[2021-02-26 05:03] Justineo commented on #249
I believe this issue is related: https://github.com/WICG/focus-visible/issues/88

[2021-02-26 05:48] prakhar241 commented on #249
Thanks @Justineo for mentioning the issue. This seems old thread where many things are fixed. We are using `"focus-visible": "^5.2.0"`.

Given that, is there a way to fix this issue for button contextual menu? The desired experience is that the keyboard escape should not override `outline`. Attaching the override CSS -
![image](https://user-images.githubusercontent.com/2901463/109260340-fa180a00-7

[2021-02-26 05:50] prakhar241 commented on #249
Writing new CSS override for outline, would trigger it for mouse events as well. Also, writing the code to detect the key 'escape', and then change focus on button, might be more than what could be done here.

[2021-02-26 16:26] unilynx commented on #151
+1 for focus-visible-within. If I can give my use-case:

![image](https://user-images.githubusercontent.com/2772353/109326383-66603100-7857-11eb-98b8-82bfa634f523.png)

This is a `<details><summary>` ... and the blue focus border is around the summary. giving how it cuts through the element, we'll probably switch to focus-visible for this. but ideally i would highlight the entire 'details' element

[2021-03-31 06:37] sklawren opened #251 "Always applies focus-visible to inputs in React even when click"
This script gets confused in React with form elements like input, select. When you click on them, it adds the various focus-visible settings as if you used the keyboard to select them.

Oddly, this does not happen with button elements.

[2021-04-03 10:56] benjaminpreiss opened #252 "Add hint to documentation about ES6 import"
I think it would be practical to have a hint about how to use the script with ES6 imports.

It would be great to have a hint in the docs, that says:

**You do not have to use a script tag but can directly import the script as follows:

import "focus-visible"**

[2021-04-20 06:38] system32uwu commented on #243
I'm doing ts```import "focus-visible/dist/focus-visible";``` in my `index.tsx`
And in my custom types `custom.d.ts`:
ts```declare module 'focus-visible/dist/focus-visible';```

I don't think it's worth defining types for a CSS selector, [but missing out on errors](https://www.typescriptlang.org/tsconfig#noImplicitAny) neither.

[2021-04-20 22:10] tlouisse opened #254 "[performance] applying the polyfill in self contained web components with light dom"
Hi,
as one of the creators of a [component library](https://github.com/ing-bank/lion/tree/master/packages) we want to apply this polyfill inside our components (that is, a consumer would load the polyfill and our web component responds to class/attr changes + it calls `applyFocusVisiblePolyfill`)

The readme states the follwoing code is needed for shadow dom support. If our interactive element liv

[2021-04-20 22:29] tlouisse commented on #254
You could argue of course that it's the responsibility of the parent shadow root to apply the polyfill, but that would not be an easy and straigthforward migration path for our consumers (not as easy as importing a polyfill); it's easily forgotten.

Alternatively, you could recursively apply `applyFocusVisiblePolyfill` to all shadowRoots found from the document. I don't know what the performance i

[2021-04-27 11:29] timgoeller commented on #251
Seems to be the case in Vue.js aswell (so maybe it's not framework-related).

[2021-04-27 11:42] Justineo commented on #251
I believe it's intentional and not framework-related. Focusing an input indicates that the user should switch their input modality to keyboard.

https://github.com/WICG/focus-visible/blob/ea5722da398ae6cdc3bb23251486e07985d5e2e4/src/focus-visible.js#L59-L69

[2021-04-27 12:18] timgoeller commented on #251
@Justineo Ah, that makes sense! The spec also suggests that (basically) anything that you can type in should indicate focus (though it's ultimately decided by the User-Agent). 👍

[2021-05-12 07:55] bathos commented on #151
I agree with @miragecraft — this slope doesn’t seem very slippery? I understand that it seems to cry out for generalization, but the need for :focus-visible-within is pressing in a more we-feel-it-every-day way than other possible functionality that generalized “within” selectors might unlock — and correct me if I’m wrong, but I’d guess that it doesn’t present the same performance challenges as a

[2021-05-18 16:51] cookiecrook opened #257 ":focus-visible's "hidden focus" artifact can result in user UI confusion on Mac"
One example I have not seen discussed is the default Space Bar behavior when an activatable element is focused.

- When no element is focused, pressing Space Bar in Safari will cause the page to scroll downward.
- When a `<button>` is tab-focused or script-focused, a visible focus ring is displayed and Space Bar in Safari will activate the button.
- Space Bar activation is consistent with platform

[2021-05-18 17:23] robdodson commented on #257
I think Chrome has had the behavior where it would focus the button on click, but hide the focus ring since before we started working on :focus-visible. I'm not sure what the thinking was behind that original decision, but I have heard at least one person argue in favor of it because they think that a user may mouse click on a button and then want to click it again using their keyboard, which woul

[2021-05-18 17:56] cookiecrook commented on #257
I acknowledge there are benefits to either approach, but rather than discuss the value judgement of which is more "correct," I'd like to focus on the general Mac platform conventions and user expectations that:

- keyboard focus remain visible
- mouse click only moves keyboard focus when the element clicked accepts some form of character input (e.g. character value in `<input>` or typeahead in som

[2021-05-18 19:46] bkardell commented on #257
I think this is the critical one, and the real rub here is this one and that it stems primarily from the fact that div buttons already work inherently different from standard apple-philosophy buttons, but also have no way of working just like windows-philosophy buttons either. Combine this with the fact that there isn't a focus model that describes this hybrid thing either.  That is, as @cookiecro

[2021-05-18 21:45] robdodson commented on #257
If I understand correctly, this would mean devs would need to do the following:

[code]

[2021-05-18 22:01] cookiecrook commented on #257
@bkardell wrote:

It's no secret that `:focus-visible` was designed to make it easier for web devs to avoid hiding focus on everything (the main anti-pattern) and instead hide focus only on mouse click (better than hiding all focus, but still problematic as described above)… Many web devs implemented this secondary pattern (using ~mousefocus vs ~keyfocus classnames) because they thought it was the

[2021-05-19 03:39] robdodson commented on #257
Would that also be possible with the pseudo class argument that Brian mentioned?

[code]

Another thing I'm curious about... The original intent of this issue was to point out that Chrome and Firefox's hiding of the focus ring on `<button>` may break user expectations around what the space bar will do. It seems like the suggestion is that Chrome and Firefox should behave like Safari on macOS and n

[2021-05-19 06:59] cookiecrook commented on #257
No. My [Disclaimer: not completely considered, brainstorm] suggestion of `user-pointer-focus: none;` is that it could *prevent* mainstream mouse-triggered focus, in the same way `user-select: none;` (bikeshed name/idea) prevents mainstream text selection, but still allows it for AT use.

The goal would be to give authors a way to specify that `<div role="button" tabindex="0">` behaves like a nativ

[2021-05-19 10:02] emilio commented on #257
We intentionally moved away from the Mac convention in here, fwiw: https://bugzilla.mozilla.org/show_bug.cgi?id=1614658#c15

[2021-05-19 15:32] robdodson commented on #257
Thank you for sharing that thread @emilio, it's a really great discussion!

The gov.uk example in that thread makes a good argument for browsers to move focus to controls that don't receive text input, while also deciding internally to not draw a focus ring.

The reason this seems useful is twofold:
- It allows the browser to closely match platform conventions—on macOS the browser can choose to no

[2021-05-19 19:48] bkardell commented on #257
If the inputs were different, the outputs might have been different.  The web's facilities for dealing with 'focus' are imo kind of a load bearing pile of ages old problematic things that need major investments in improving.  Yes, there are *lots* of things worth exploring.  Some don't even require changes to specs. Chrome's simultaneous introduction of a 'Quick Focus Highlight' mode is, I think a

[2021-05-20 21:19] robdodson commented on #257
Yeah this is my concern as well... Ultimately I want to give devs good flexibility to differentiate between mouse and keyboard focus without needing to resort to weird javascript hacks and/or having them nuke focus altogether.

This is an interesting idea. While I like that option-B gives folks flexibility to differentiate between mouse and keyboard focus, I'm worried that it may lead to webkit bu

[2021-05-21 00:52] cookiecrook commented on #257
I think that's the key point that I'm hearing from other inside Apple. We want interoperability, but this (both getting focus on click, and then hiding it) is fundamentally different from the platform experience UI expectation on Mac. Emilio's link states that Firefox on Mac chose to do this in order to 1) Match Window/Linux, and 2) Match Chrome on Mac, which itself doesn't match the Mac conventio

[2021-05-21 00:55] cookiecrook commented on #257
FWIW, Chrome's settings have other platform-specific exceptions in them... Such as:

chrome://settings/appearance "Pressing Tab on a webpage highlights links, as well as form fields" (On means "work more like Safari")

chrome://settings/accessibility "Navigate pages with a text cursor" (On means "work more like Firefox and Windows")

[2021-05-24 19:17] robdodson commented on #151
I think there's still some discussion around adding it to `:has()` in the csswg, https://github.com/w3c/csswg-drafts/issues/3080#issuecomment-839559449

In my opinion this may be the best option?

[2021-05-27 16:28] cpyle0819 opened #258 "Absence of interaction events causes outline to display by default on focus."
# Thank you
First, thanks for this polyfill. It's great, and is working for most of our needs.

# Summary
Our app is an ionic/capacitor app which manipulates the `focus` for the benefit of screen readers. We noticed when the polyfill is installed, `focus-visible` is applied to one of the elements we're focusing on app start. This scenario does not match any of the specs for the polyfill standard:

[2021-06-03 11:14] Justineo commented on #151
A good news: folks from Igalia is working on implementing `:has` for Chromium.

https://bugs.chromium.org/p/chromium/issues/detail?id=669058#c17

[2021-07-09 07:26] Vaiciakauskaite-Lukose commented on #241
Apparently, tabbing through elements needs to be enabled in Safari through settings: Preferences -> Advanced -> “Press tab to highlight each item on a webpage”

[2021-09-21 21:33] skrichten commented on #167
Pretty sure that is indeed what @bradkemper is saying.  I don't know what the solution is, Safari is so annoying. I ran into this today and it caused quite a bit of confusion/frustration for me.  Sorry, I know this is an old issue, but it would be nice to see some solution or at least a note about it in the documentation.  I did not expect the option key to cause the tab to be ignored.

[2021-09-21 22:10] bradkemper commented on #167
Yeah, it is more of a Mac thing than just Safari. The tabbing behavior on Macs is usually just text fields, and the browser setting is to switch that to tab to more things. Holding the option key down while tabbing temporarily causes the tabbing behavior NOT indicated by the setting. So option tabbing should be treated the same as normal tabbing for this heuristic.

[2021-10-06 17:50] svanherk commented on #231
I'm still seeing this problem today.  I created a simple setup that demonstrates it: https://jsbin.com/gijuyatohe/1/edit?html,css,js,output
If you open this in Chrome, tab to the button to apply the `focus-visible` styling (an orange background), and press enter, the button becomes disabled and the orange background is removed.  If you do the same in Firefox, the orange background is not removed b

[2022-01-04 15:57] spacedawwwg opened #261 "Warning when building"
`focus-visible doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please contact the package author to fix.`

[2022-01-12 20:15] perqa commented on #261
See https://github.com/WICG/focus-visible/issues/252

[2022-02-08 01:26] spacedawwwg commented on #261
@perqa I'm not sure what that has to do with this?

[2022-02-08 02:41] lgenzelis commented on #151
Does anyone know if any progress have been made here?

[2022-02-08 04:24] bathos commented on #151
yes!! :has is real, sorta! nobody's shipped it on a main channel yet, but  [Safari TP has it](https://developer.apple.com/safari/technology-preview/release-notes/#:~:text=collapse%20properties%20(r287429)-,%3Ahas(),-Added%20style%20invalidation) and Chromium work seems to be ongoing/active (there are related commits from this week it looks like). I'm not how to interpret [FF's fourteen(!)-year-old

[2022-03-12 01:54] domkl14 opened #266 "Applying :focus-visible state after programmatically moving focus only on initial page landing"
Hi 👋 !

I created this [codepen demo](https://codepen.io/airbnb/pen/wvpwLdm/36fa629485efcf19b06208654f43f4b3?editors=1011) to illustrate the issue I'm seeing (repro on Chrome).

On first loading into the link, if you click `Click to focus the next button`, notice that we move focus to the next button (`Button to be focused`) and a `:focus-visible` state is applied to it. However, if we then click

[2022-03-18 19:43] danbrellis commented on #151
An additional use case is having a checkbox wrapped by the label where you are styling the label and 'hiding' the checkbox:

[code]
[code]

When tabbing, the focus is set to the checkbox, so if you want to style the label, you need to use focus-within.

[code]
The above css still shows the outline around the label when tabbing.

[2022-03-23 00:55] craigkovatch commented on #151
We have a use case for this as well, which I think is a fairly common hack, to show custom focus indicators on checkbox/radio elements using `::before` (or `::after`, whatever) pseudos. My current focus rule looks like `&.focus-within.focus-visible::before`. These can't be translated directly to the newly-available (yay!) `:focus-visible` pseudo because it doesn't match in the way that I don't nee

[2022-03-31 08:54] Dariaky commented on #151
Another use case for :focus-visible-within

`<div class="logo" >
    <a href="/brand">
        <img src="assets/icons" alt="logo image">
    </a>
</div>`

`.logo {
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
}

.logo:focus-within {
    outline: 2px solid blue;
}`

When parent container has overflow: hidden and no possibility to change that, :focus-within helps to m

[2022-04-13 21:27] craigkovatch opened #268 "`:focus-visible` should match when focus is programmatically moved to inside a dialog"
Whether `<dialog>` or `[role="dialog]`, focus should become visible when it is programmatically moved from outside to inside the dialog. i.e. if a user clicks a button that opens a dialog, and now a button is focused-by-default with the dialog per [Dialog](https://www.w3.org/TR/wai-aria-practices-1.2/#keyboard-interaction-7), that button should show an indicator regardless of whether the button wa

[2022-04-13 21:38] craigkovatch commented on #268
Oops, I thought I was posting in the working group issues, I see now that this is the polyfill. Same argument apples tho :D

[2022-04-18 07:48] mrego commented on #268
I think this could be a kind of duplicate of #88.

I've the feeling that the implemented behavior here is the expected one, at least that it was a conscious decision. But probably is hard/impossible to cover all use cases.

@emilio is suggesting a change to `FocusOptions` so people can decide when to show it or not when moving the focus via script. See https://github.com/whatwg/html/issues/7830

[2022-04-19 21:39] craigkovatch commented on #268
I think the `FocusOptions` suggestion is great. I agree trying to chase these edge cases is a losing game, although I do think there are a few like this one which are succinct enough that we should cover them in the spec.

[2022-05-15 01:53] zerofirework commented on #198
I'm running into the same problem with native focus-visible implementation. I'd like to dig out this old thread since Jake was here :D.

In the following example: https://codesandbox.io/s/focus-on-page-load-jy595z?file=/src/index.js, I programmatically focus the span on page load. To my surprise, the span receives focus-visible and shows the focus ring. If I understand correctly, focus-visible is

[2022-05-22 02:05] matthew-dean commented on #151
I ran into this today! Had a label wrapped around a radio button / span. The radio button is what I want to detect `:focus-visible` on, and apply `:focus-within` on the surrounding label. I hacked around it by absolutely positioning a wrapper from the span to the surrounding box.

[2022-05-22 18:20] bathos commented on #151
Update re: `:has` for @lgenzelis & anyone else:

- Safari supports `:has` in stable [as of 15.4](https://webkit.org/blog/12445/new-webkit-features-in-safari-15-4/#css) on March 14, 2022 (both desktop and iOS).
- Chromium intent-to-ship [announced May 16, 2022](https://groups.google.com/a/chromium.org/g/blink-dev/c/bRsbl3wLuyk/m/mt3iSKNHBQAJ) w/ estimated milestone 105 (if estimate ends up accurate

[2022-05-23 01:49] matthew-dean commented on #151
@bathos I wonder if when `:has(:focus)` is supported, if `:focus-within` will be deprecated. Seems clumsy and limited at that point.

[2022-05-23 03:40] bathos commented on #151
I wouldn’t think so. To the best of my knowledge those aren’t equivalent. The `:focus` selector matches elements that are focused. The `:has(:focus)` selector matches elements with descendent elements that are focused. The `:focus-within` selector matches elements whose _flat tree_ descendents include _nodes_ (which could be text nodes) that have focus. That’s something pretty different from `:has

[2022-05-23 03:45] craigkovatch commented on #151
Text nodes are inert, they can’t be focused, even in shadow dom…right?

[2022-05-23 04:23] bathos commented on #151
@craigkovatch I’m ... not really sure.

CSS doesn’t define the conditions for what a UA considers to be a focused node, only a few constraints on how it would need to be defined. The spec [explicitly says](https://www.w3.org/TR/selectors-4/#focus-within-pseudo) the set of flat-tree descendents whose status as focused contribute “[includes] non-element nodes, such as text nodes.”

This could be an

[2022-05-23 13:12] bathos commented on #151
@lgenzelis In a tree of DOM nodes, some elements may “host” ShadowRoots. Each ShadowRoot is a little bit like its own document (trying to keep this concise...) that can provide forms of encapsulation (including encapsulation of CSS) and functionality typically leveraged by custom elements. If you are not using `attachShadow` anywhere, then the only time you encounter ShadowRoot nodes would be thos

[2022-05-23 13:54] lgenzelis commented on #151
Crystal clear, thanks a lot @bathos ! ^_^

[2022-05-23 14:03] craigkovatch commented on #151
@bathos if you grep that spec, the "non-element nodes, such as text nodes" is repeated in four different places, so my guess is it's just a generalized statement about certain pseudos, rather than something specifically added about focus behavior.

Text nodes can't be focused. Focus is about interactivity, and text nodes aren't interactive. Put another way -- if a text node were interactive, it's

[2022-09-05 22:04] fabiospampinato commented on #236
@robdodson I see this function:

[code]

That doesn't remove the .focus-visible class, so I guess if I have the focus on an input and I click on a paragraph the input will still have .focus-visible, which seems wrong?

[2022-09-12 15:39] fabiospampinato commented on #236
Sorry I was just looking at the code, I probably just read it wrong. I'm not sure what the problem that @kevzlou7979 was reporting actually is.

[2022-10-25 22:10] anilanar commented on #126
We have a **ponyfill** [in this PR](https://github.com/userlike/focus-visible/pull/1) and [in this NPM package](https://www.npmjs.com/package/@userlike/focus-visible), which is slightly refactored. It's also supposed to work in scopes like iframes and shadow dom. Our primary problem with this project (and any that assumes a global window/document) is that it cannot be injected into iframes/shadow

[2022-11-14 09:04] ryuran commented on #244
Condition proposal:
``js
if (!window.CSS?.supports?.("selector(:focus-visible)")) {
  // Apply the polyfill
}
[code]

[2022-11-15 09:24] ryuran opened #273 "Memory leaks when applyFocusVisiblePolyfill is applied then the element is removed"
Hello.

Some web components with shadowDOM use focus-visible polyfill.
We apply `applyFocusVisiblePolyfill` when the component is attached to the DOM `connectedCallback()`.
When the component is removed, `applyFocusVisiblePolyfill` keep a reference of it preventing it to be garbage collected.

So each web-component added then removed are kept in memory and it can make a huge memory leak.

Potentia

[2022-11-15 09:46] ryuran commented on #237
Related to #244

This condition could help

[code]